{% extends 'base.html.twig' %}


{% block logo %}
   
{% endblock %}



{% block body %}



<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell medium-8" style="text-align:center" >   
            <p style="font-size:1.8em; line-height: 1.2em; padding-top:0; margin-top:0; padding-bottom:0; margin-bottom:0">
                Scrum Master? Agile Coach?<br />
                Responsible for an Agile team?
            </p>
            <p style="font-size:2.8em; line-height: 1.1em; padding-top:0 em; margin-top:1em; padding-bottom:0; margin-bottom:0; font-weight:bold">
                Too Much<span style="color:red; font-weight: bolder"> Frustration </span>In Your Agile World?
            </p>
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="cell " style="text-align:center">   

            <p style="padding-top: 2em; padding-bottom:0em; margin-bottom:0"><img src="/images/watch-this-video-now.png" width="475" height="115" /></p>

            <iframe src="https://player.vimeo.com/video/469452320" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

            <p style="padding-top: 1em">

                <a href="https://community.developmentthatpays.com/plans/64665?bundle_token=8d98dea382977a6f4f218ce92189b31d&utm_source=manual"  style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">
                    More info                
                </a>
            </p>

            <p style="margin-top:2em">Already of a member of <strong>Development That Pays</strong> the Community? <a href="https://community.developmentthatpays.com/plans/66071?bundle_token=599a8ed8fdb58e09517764f972aa4482&utm_source=manual">Use this link instead</a>;<br /> it's the same price, but there's one less step (because you already have an account).</p>

        </div>
    </div>



</section>

    

{# 
<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8" style="text-align:center" >   

            <h1>Doors close soon</h1>
            <script src="https://cdn.logwork.com/widget/countdown.js"></script>
            <a href="https://logwork.com/countdown-2s63" class="countdown-timer" data-timezone="America/Denver" data-date="2020-10-21 00:00">Don't miss out!</a>
          
        </div>
    </div>
</section> #}




{% endblock %}

