{% extends 'base.html.twig' %}


{% block nav %}
<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">Development That Pays</a></li>
    </ul>
  </div>
</div>
{% endblock %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}




{% block body %}



{% if page.campaignStatus == "pre" %}

You're early!
Please check back soon.

{% elseif page.campaignStatus == "post" %}  
    [handled elsewhere]
{% else %}

{% set currentVideo = page.videos[page.selected]  %}

            
<section class="grid-container fluid">
    <div class="grid-x align-center">
        <div class="cell medium-6">
            <h1>Welcome to {{ currentVideo.title }}!</h1>
        </div>
    </div>
</section>


<section class="grid-container fluid grey">

    <div class="grid-x grid-margin-x  align-center ">

        {%  for id, video in page.videos %}
        
            <div class="cell medium-2 small-4">

                {% if video.isActive == true and video.isSelected == false %}
                    <a href="/agile-inside-out/{{ id }}{% if page.nowString is defined %}?now={{ page.nowString }}{% endif %}" >
                {% endif %}
                    {{ video.title }}
                    {% if video.isSelected == true %}
                    <img src="/images/courses/aio-video-selected.png" />
                    {% elseif video.isActive == true %} 
                    <img src="/images/courses/aio-video-notselected.png" />
                    {% else %}
                    <img src="/images/courses/aio-video-locked.png" />
                    {% endif %} 
                     {% if video.isActive == false %}Coming soon{% endif %}

                {% if video.isActive == true and video.isSelected == false  %}
                    </a>
                {% endif %}

            </div>
        {% endfor %}

    </div>

</section>



<section class="grid-container fluid">
    <div class="grid-x align-center">
        <div class="cell medium-6">

            <p style="margin: 1em 0">
                <a href="https://youtu.be/{{ currentVideo.youtube }}" target="_blank" >
                    <img src="/images/aio-{{ page.selected }}.png" width="1280" height="720" /> 
                </a>
            </p>      

            <p>{{ currentVideo.body|raw }}</p>
        </div>
    </div>
</section>



<section class="grid-container fluid grey">

    <div class="grid-x grid-margin-x  align-center ">

        <div class="cell medium-6">

            {% if currentVideo.next is defined %}
                {% set nextVideo =  page.videos[currentVideo.next] %}
                {% if nextVideo.isActive == true %}
                    <p style="text-align:center">Ready for more? click here to watch 
                    <a href="/agile-inside-out/{{ currentVideo.next }}{% if page.nowString is defined %}?now={{ page.nowString }}{% endif %}" >
                    {{ nextVideo.title }}
                    </a>
                    now!</p>    

                {# {% elseif page.isLocked == true %}

                    <p>Ready watch the FULL VERSION of the video -
                    <strong><em>and the entire 4-part training</em></strong> - enter your details below:</p>

                <p style="text-align: center">
                    {{ include("forms/drip-form.html", {bigButton: page.bigButton, buttonColor: page.buttonColor, formId: page.drip, formTitle: page.formTitle, callToAction: page.callToAction}) }}
                </p>
                    AND MAKE SURE IT KNOWS ABOUT UTM.... in some way. #}

                {% else %}

                <p style="text-align:center">
                <strong>{{ nextVideo.title }}</strong> will be available soon! 
                <br />Keep an eye on your email mailbox.</p>

                <p  style="text-align:center; font-weight: bold; margin-top:2em">Not on the list yet? </p>

                <p><a href="https://www.developmentthatpays.com/agile-inside-out">Sign up here</a> 
                and I'll send you an email the moment that  <strong>{{ nextVideo.title }}</strong> 
                is ready to view.</p>

                {% endif %}

            {% else %}

                <h1>The doors are open!</h1>

                <p style="text-align:center"><strong>Agile Inside Out</strong> is open for enrollment on a strictly limited basis.</p>

                <p style="text-align:center"><a href="https://agileinsideout.mn.co/" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; " >Enrol NOW!</a></p>

                <p style="text-align:center">Be quick: <strong>doors close in just {{ page.timeLeftString }}</strong>!</p>

            {% endif %}
        </div>
    </div>
</section>


{% endif %}


{% endblock %}




