{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}

<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>You're on the list!</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8  columns">
        
            <p style="text-align:center">
            We will keep you in the loop!</p>

            <p>Gary Straughan<br />
            Founder of Development That Pays</p>

        </div>
    </div>

</section>

    

{% endblock %}



