{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}










<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8"  >   
             <h1>Agile Inside Out</h1>
            <img src="/images/courses/aio-be-right-back.png" />
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="cell medium-4"  >   

            <script async data-uid="7025813b73" src="https://winning-innovator-4457.ck.page/7025813b73/index.js"></script>

        </div>
    </div>
</section>   



{% endblock %}

