{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}



<section class="grid-container fluid grey">

    <div class="grid-x grid-margin-x  align-center ">

        <div class="cell medium-6">

        
            <p>I've just sent an email to <strong>{{ page.email_address }}</strong> - 
            it contains a direct link to the first of 4 videos.</p>
            
            <p>Enjoy!</p>

            <p>Gary Straughan<br />
            Founder of Development That Pays</p>

        </div>
    </div>

</section>

    

{% endblock %}

