{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


    <section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1> {{   page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >

            <script src="https://fast.wistia.com/embed/medias/{{ page.video }}.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{ page.video }} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>

        </div>
    </div>

</section>

{% endblock %}
