{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


    <section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>The Scrum vs Kanban Crash Course</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns"  style="text-align:center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xkfpiyhYF_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >
            <p>&nbsp;</p>
            <p style="text-align:center">
                <a href="#" data-drip-show-form="542262007" style="text-decoration: line-through; background: gray;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Buy $97</a>
            </p>
            <p style="text-align:center">
                <a href="https://development-that-pays.thinkific.com/enroll/433260?price_id=453380&coupon=svkfeb50" data-drip-show-form="542262007" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Buy $48.50</a>
            </p>
        </div>        
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >
            <p>&nbsp;</p>
            <p style="text-align:center">
                <div data-type="countdown" data-id="995820" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%"><a href="//www.tickcounter.com/countdown/995820/offer-expires-in" title="Offer Expires in...">Offer Expires in...</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
            </p>           
        </div>        
    </div>



</section>

{% endblock %}
