<div class="resource">
    <p><a href="{{ resource.link }}" >{{ resource.title }}</a></p>
    <p class="author">{{resource.type }} - {{ resource.authors}} {% if resource.date %} [{{resource.date }}] {% endif %}</p>
</div>