{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell medium-8">   
            <h1>Scrumban</h1>
        </div>

        <div class="cell medium-8">   

            <p>In 2015 I published a video on "Scrum vs Kanban". Almost immediately, the "do <strong>Scrumban</strong>" requests came in.</p>

            <p>In 2017, I finally got around to it.</p>
            
            <p>But my research into Scrumban didn't lead where I thought it would.</p>

            <p>I'd <em>expected</em> to find a <em>hybrid</em>. A <em>"third way"</em>. A <em>melding</em> of the best of Scrum and Kanban.<p>

            <p>(And many people would describe Scrumban in those terms.)</p>

            <p>But it seemed to me (it still does!) that Scrumban is less of a <em>"third way"</em> and more 
            of a <em>"pathway"</em>: a pathway from Scrum to... something else.
                        
        </div>
    </div>

</section>






<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8">   
            <h1>Scrumban Resources</h1>
        </div>

        <div class="cell medium-8">   

            <p style="font-size: 0.8em">Disclosure: <em>some of the links below are affiliate links. 
            This means that - at no additional cost to you - 
            I will earn a small commission if you decide to make a purchase after clicking through the link.</em></p>

        </div>
    </div>


{% set resources = {
    1:  {
            'title': 'Scrum-ban',
            'date': '2008',
            'link': 'http://leansoftwareengineering.com/ksse/scrum-ban/',
            'authors': 'Corey Ladas',
            'type': 'Web'
        },
    2:  {
            'title': 'Scrumban: Essays on Kanban Systems for Lean Software Development',
            'date': '2009',
            'link': 'https://www.amazon.co.uk/dp/0578002140/?ref=exp_developmentthatpays_lv_dp_vv_d',
            'authors': 'Corey Ladas',
            'type': 'Book',
            'affiliate': 1
        }
    }
%}


    <div class="grid-x align-center">
        <div class="cell medium-8">   
   
            <h2>Corey Ladas and Scrumban</h2>

            <p>In 2008 Corey Ladas coined the term Scrumban in this paper: "<strong>Scrum-ban</strong>". He followed
             it up in the following year with his book "<strong>Scrumban</strong>".</p>

            {% for resource in resources %}
                {% include('orphans/resource-bit.html')  %}
            {% endfor %}

            {% set resources = {
                3:  {
                        'title': 'Scrumban: Lean Thinking for Agile Process Evolution',
                        'date': '2009',
                        'link': 'https://vimeo.com/88885445',
                        'authors': 'Corey Ladas',
                        'type': 'Video'
                    }
                }
            %}

            <p><br />Sadly, there's not a great deal of Corey on video. But I did find this. And it's exceptional:</p>

             {% for resource in resources %}
                {% include('orphans/resource-bit.html')  %}
            {% endfor %}
        </div>
    </div>



{% set resources = {
    1:  {
            'title': 'The Machine That Changed the World',
            'date': '2007',
            'link': 'https://www.amazon.co.uk/dp/1847370551/?ref=exp_developmentthatpays_lv_dp_vv_d',
            'authors': 'James P. Womack, Daniel T. Jones , Daniel Roos',
            'type': 'Book'
        },
    2:  {
            'title': 'Lean Software Development: An Agile Toolkit',
            'date': '2003',
            'link': 'https://www.amazon.co.uk/dp/0321150783/?ref=exp_developmentthatpays_lv_dp_vv_d',
            'authors': 'Mary Poppendieck and Tom Poppendieck',
            'type': 'Book'
        },
    3:  {
            'title': 'Lean Thinking: Banish Waste And Create Wealth In Your Corporation',
            'date': '2003',
            'link': 'https://www.amazon.co.uk/dp/0743231643/?ref=exp_developmentthatpays_lv_dp_vv_d',
            'authors': 'James P. Womack and Daniel T. Jones',
            'type': 'book'
        }
    }
%}


    <div class="grid-x align-center">
        <div class="cell medium-8">   
   

            <h2>Lean Underpinnings</h2>

            <p>Scrumban <em>leans</em> heavily on <strong>Lean</strong> (sorry - couldn't help myself) and 
             these are a great place to start:</p>

            {% for resource in resources %}
                {% include('orphans/resource-bit.html')  %}
            {% endfor %}

        </div>
    </div>





{% set resources = {
    1:  {
            'title': 'Implementing the Kanban Method using Scrum (a.k.a Scrum with a Kanban spirit)',
            'date': '',
            'link': 'http://yuvalyeret.com/implementing-the-kanban-method-using-scrum-a-k-a-scrum-with-a-kanban-spirit/',
            'authors': 'Yuval Yuret',
            'type': 'Web'
        },
    2:  {
            'title': 'Kanban and Scrum: Making the Most of Both',
            'date': '2009',
            'link': 'https://www.amazon.co.uk/dp/0557138329/?ref=exp_developmentthatpays_lv_dp_vv_d',
            'authors': 'Mattias Skarin and Henrik Kniberg',
            'type': 'Web'
        }
    
    }
%}

    <div class="grid-x align-center">
        <div class="cell medium-8">   

            <h2>Scrumban-esque</h2>

            <p>These don't mention Scrumban by name, but they pull (!) in a similar direction.</p>

            {% for resource in resources %}
                {% include('orphans/resource-bit.html')  %}
            {% endfor %}

        </div>
    </div>


{% set resources = {
    2:  {
            'title': 'So what IS Scrumban?',
            'date': '',
            'link': 'http://yuvalyeret.com/so-what-is-scrumban/',
            'authors': 'Yuval Yuret',
            'type': 'Web'
        }
    }

%}

    <div class="grid-x align-center">
        <div class="cell medium-8">   

            <h2>Pure(?) Scrumban</h2>

            {% for resource in resources %}
                {% include('orphans/resource-bit.html')  %}
            {% endfor %}


            <p><br />Three videos from me...</p>

                        
            {% set resources = {
                1:  {
                        'title': 'What is Scrumban? And Who is it For?',
                        'date': '',
                        'link': 'https://www.youtube.com/watch?v=7EKkxsXUPGI&index=1&list=PLngnoZX8cAn_niM2ehLsFGPh33DGU5it9',
                        'authors': 'Development That Pays',
                        'type': 'Video'
                    },
                2:  {
                        'title': 'From Scrum to Scrumban in 6 Steps',
                        'date': '',
                        'link': 'https://www.youtube.com/watch?v=fgT4AaKcBUA&index=2&list=PLngnoZX8cAn_niM2ehLsFGPh33DGU5it9',
                        'authors': 'Development That Pays',
                        'type': 'video'
                    },
                3:  {
                    'title': 'Scrumban - Your Questions, Comments... and Concerns',
                    'date': '',
                    'link': 'https://www.youtube.com/watch?v=CiNuIK_B5i4&index=3&list=PLngnoZX8cAn_niM2ehLsFGPh33DGU5it9',
                    'authors': 'Development That Pays',
                    'type': 'video'
                    }
                }
            %}

            {% for resource in resources %}
                {% include('orphans/resource-bit.html')  %}
            {% endfor %}


        </div>
    </div>

</section> 



<section class="grid-container fluid blue">
    <div class="grid-x align-center">
        <div class="cell medium-8">   
            <h1>Grab A Cheat Sheet</h1>
        </div>
        <div class="large-4 large-offset-2 columns">
            <p>
                <a href="/cheatsheets/scrum-to-scrumban"><img src="/images/cheatsheets/scrum-to-scrumban-333.png" height="218" width="333"></a>
            </p>
        </div>
        <div class="large-6 columns">
            <p>From Scrum to Kanban in 6 Powerful Steps.</p>
            <p>Grab your <a href="/cheatsheets/scrum-to-scrumban">Scrumban Cheat Sheet NOW!</a></p>
        </div>
    </div>
</section>






<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell medium-8">   
            <h1>Credits</h1>
        </div>

        <div class="cell medium-8">   

            <p id="kirk">I am grateful to <strong>Kirk Bryde</strong>, who was kind enough to share many of the above resources with the
             members of the LinkedIn <a href="https://www.linkedin.com/groups/8705950/">Scrumban Group</a>. His initial list was the inspiration for this page.</p>
            
        </div>
    </div>

</section>



{% endblock %}
