{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Thank you!</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >
            <p>You're all set!</p>
            <p>Your copy of the <strong>"Agile Estimating" Cheat Sheet</strong> is winging its way to you <strong>by email</strong>.</p>
            <p>I hope you like it and I hope you find it useful.</p>
            <p>&nbsp;</p>
            <p>Gary Straughan<br />Author, Development That Pays</p>
            <p>&nbsp;</p>
            <p><strong>PS</strong> - Any questions or comments on the Cheat Sheet? Just reply to this email!</p>
        </div>
    </div>

</section>

{% endblock %}
