{% extends 'base.html.twig' %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}




<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns" style="text-align:center">
            <h1>You're all set!</h1>

            <p>Your copy of <strong>The Scrum vs Kanban Cheat Sheet</strong> is on its way to you by email.</p>
            <p>&nbsp;</p>

             <h1>Before you go...</h1>

            <p style="font-weight:bold; font-size: 2em; color:red">Get <br />
            "<strong>The Scrum vs Kanban Crash Course</strong>"<br />
            for less than half price<br />
            before midnight tonight!
            </p>


            <p>If your new to Scrum, or Kanban - or even Agile - 
            the <em>Cheat Sheet</em> is a great start.</p>

            <p>But this <em>Course</em> will get you up to speed MUCH faster.</p>

            <!--
            Maybe set up an A/B test on this???
            <div class="flex-video">
                <meta itemprop="height" content="560">
                <meta itemprop="width" content="315">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3RxOG6Z7y34" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            -->

            <p><strong>And right now, you can get it for less than half price.</strong></p>

            <p>You'll find "<strong>The Scrum vs Kanban Crash Course</strong>" on my website for <strong style="color:red">$37</strong>.</p>

            <p>But act now and you'll get it for just <strong style="color:green">$17</strong>.</p>
            


            <p style="text-align:center">

                    {% set page = page|merge({'version': 'offer'}) %}


                    {% include('svk-buttons.html') %}
            </p>



            <p><strong>PS</strong> - Be quick! this offer expires at midnight!</p>



        </div>
    </div>


    <div class="row">
        <div class="large-8 large-offset-2 columns" >


            <!--
            <div class="flex-video">
                <meta itemprop="height" content="560">
                <meta itemprop="width" content="315">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3RxOG6Z7y34" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            -->
        
            <!--
            <p style="text-align:center">
                <a href="https://development-that-pays.thinkific.com/enroll/433260?et=paid" data-drip-show-form="542262007" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Buy $97</a>
            </p>
            -->
            
      </div>
</section>
<!--
<section class="grid-container fluid white">
    <div class="row">
        <div class="large-5 large-offset-2 columns" >
            <p>The <strong>Scrum vs Kanban - Crash Course</strong>
            - designed from the ground up to get you up to speed with <em>Scrum</em> and <em>Kanban</em> - and <em>Agile</em> - in the <strong>shortest possible time</strong>.</p>
        </div>
        
        <div class="large-5 columns" >
            <div class="thinkific-product-card" data-btn-txt="Enroll now!" data-btn-txt-color="#ffffff" data-btn-bg-color="#569904" data-card-type="card" data-link-type="landing_page" data-product="433260" data-embed-version="0.0.2" data-card-txt-color="#000000" data-card-bg-color="#ffffff" data-store-url="https://courses.thinkific.com/embeds/products/show"><div class="iframe-container"></div><script type="text/javascript">document.getElementById("thinkific-product-embed") || document.write('<script id="thinkific-product-embed" type="text/javascript" src="https://assets.thinkific.com/js/embeds/product-cards-client.min.js"><\/script>');</script><noscript><a href="https://development-that-pays.thinkific.com/courses/scrum-vs-kanban" target="_blank">Enroll now!</a></noscript></div>
        </div>
    </div>
</section>
-->

{% endblock %}
