{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Thank you!</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >
            <p>You're all set!</p>
            <p>Your copy of <strong>The "Scrumban" Cheat Sheet</strong> is on its way to you <strong>by email</strong>.</p>
            <p>I hope you like it!</p>
            <p>&nbsp;</p>
            <p>Gary Straughan<br />Author, Development That Pays</p>
            <p> <strong>PS</strong> - Spotted a mistake? Please <a href="mailto:gary.straughan@brainboxweb.co.uk">let me know :)</a></p>
        </div>
    </div>

</section>

{% endblock %}
