{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Thank you!</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >
            <p>You're all set!</p>
            <p>Your copy of the <strong>"Waterfall vs Agile" Cheat Sheet</strong> is on its way to you <strong>by email</strong>.</p>
          
            <p>&nbsp;</p>

             <h1>Before you go...</h1>

            <p style="font-weight:bold; font-size: 2em; color:red">Get <br />
            "<strong>The Scrum vs Kanban Crash Course</strong>"<br />
            for less than half price<br />
            before midnight tonight!
            </p>


            <p>If your new to the world of Agile, 
            the <em>Cheat Sheet</em> is a great start.</p>

            <p>But this <em>Course</em> will get you up to speed MUCH faster.</p>

            <!--
            Maybe set up an A/B test on this???
            <div class="flex-video">
                <meta itemprop="height" content="560">
                <meta itemprop="width" content="315">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3RxOG6Z7y34" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            -->

            <p><strong>And right now, you can get it for less than half price.</strong></p>

            <p>You'll find "<strong>The Scrum vs Kanban Crash Course</strong>" on my website for <strong style="color:red">$37</strong>.</p>

            <p>But act now and you'll get it for just <strong style="color:green">$17</strong>.</p>
            
            <p style="text-align:center">
                    {% set page = page|merge({'version': 'offer'}) %}
                    {% include('svk-buttons.html') %}
            </p>


            <p>Gary Straughan<br />
            Founder of Development That Pays</p>


            <p><strong>PS</strong> - Be quick! this offer expires at midnight!</p>


        </div>
    </div>

</section>

{% endblock %}
