<p><button class="drip-button {{buttonColor}}" data-open="drip-{{formId}}">{{bigButton}}</button></p>

<div class="reveal" id="drip-{{formId}}" data-reveal>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

<form action="https://www.getdrip.com/forms/{{formId}}/submissions" method="post" data-drip-embedded-form="{{formId}}"  data-abide>
  <h3 data-drip-attribute="headline">{{formTitle}}</h3>
  <div data-drip-attribute="description"></div>
    <div>
        <label for="drip-first-name">First Name</label><br />
        <input type="text" id="drip-first-name" name="fields[first_name]" value=""  required />
    </div>
    <div>
        <label for="drip-email">Email Address</label><br />
        <input type="email" id="drip-email" name="fields[email]" value="" required />
    </div>
    <div>
        <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied" />
        <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted"  required />
        <label for="drip-eu-consent">I consent to receive information about services and special offers by email</label>
    </div>
    <div>
        <input type="hidden" name="fields[eu_consent_message]" value="I consent to receive information about services and special offers by email">
    </div>
  <div style="display: none;" aria-hidden="true">
    <label for="website">Website</label><br />
    <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
  </div>
  <div>
    <input type="submit" value="{{callToAction}}" data-drip-attribute="sign-up-button" />
  </div>
</form>
</div> 
