{% extends 'base.html.twig' %}


{% block head %}
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-N7LW3NR"></script>
    {{ parent() }}
{% endblock %}


{% block nav %}
{% endblock %}

{# 
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE
CHANGED MY MIND - I'M GOING TO DO THIS ON THE MAIN (MIGHTY NETWORK) PAGE #}



{# 
{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}
 #}


{% block body %}


{# {{ dump(app.request.query) }} #}

{% set vimeo_id = "!!!!CHANGE ME!!!!" %}  
{%  set ref = app.request.query.get("ref") %}
{%  set target = app.request.query.get("target") %}
{# Usage: "target=mn" changes the button url #}

{# 
<section class="grid-container fluid white">

    <div class="grid-x align-center" >
        <div class="cell ">
            <h2 style="text-align: center; font-weight:bold; font-size: 2em">Don't look now, but it's the...</h2>
            <h1 style="color:red; font-weight:bold; font-size: 3em">"Agile Inside Out<br />FLASH SALE!"</h1>
        </div>
    </div>

    <div class="grid-x align-center" style="margin-top: 2em">
        <div class="cell large-8 ">
            <div class="responsive-embed vimeo widescreen">
                <iframe src="https://player.vimeo.com/video/{{ vimeo_id }}?autoplay=1&texttrack=en" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <p style="text-align:center; margin-top: 3em">
                {% include  'aio-buttons.html'  with  {"anchorlink": true}  %} 
            </p>
        </div>
    </div>

</section> #}



{# 
<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Has the world gone mad?</h1>
        </div>
    </div>

    <div class="row">

        <div class="large-3 large-offset-2 small-centered columns">

            <p>If you’re new to Agile, you’d be forgiven for thinking you’ve just entered a madhouse, or some strange parallel dimension.</p>

            <p>There’s a whole new vocabulary. And the way things are done is, well, weird.</p>

            <p>If you’ve had <strong>training</strong>, you’re one of the lucky ones. Most of us are thrown 
            in the deep end.</p>


            <p style="padding: 1em 0"><strong>I've been there</strong></p>

            <p>In 2012 I walked into the offices of the BBC to join a team that was “doing Agile”.</p>

            <p><strong>And it was a shock to the system</strong>.</p>

            <p>Being just a cog in the machine, I couldn’t see the big picture. It took months 
            - <em>years</em> - for me to piece things together.</p>

            <p>As the mists began to clear - as started figuring out the pieces of the puzzle - 
            I started to post videos on YouTube.</p>

            <p>The reaction took me completely by surprise:</p>
            
            <p>People told me that after watching my videos they finally “</strong>got Agile</strong>”.</p>
            
            <p>That it finally “<strong>clicked</strong>”.</p>

        </div>

    </div>

</section>


<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns">
            <h1>Help is at hand</h1>
        </div>
    </div>

    <div class="row">

        <div class="large-3 large-offset-2 small-centered columns">
            
            <p>I'm glad that my YouTube videos have helped in some small way.</p>

            <p>(<strong>Development That Pays</strong> has grown to be the <strong>No.1 Agile Channel</strong> on YouTube.)

            <p>But I wanted to do more. To have more <em>impact</em>.</p>

            <p>So I created a <em>course</em>. A <em>crash course</em>. <strong>The Scrum vs Kanban Crash Course</strong>.</p>

                <p>If you are:</p>
            
            <ul>
                <li><strong>new to Scrum</strong>...</li>
                <li><strong>new to Kanban</strong>...</li>
                <li>and especially if you’re <strong>new to Agile</strong>...</li>
            </ul>

            <p>... then this course is perfect for you.</p>

        </div>

    </div>

</section>


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>You've Got This</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-3 large-offset-2 small-centered columns">

            <p>By the end of the course...</p>
            <ul>
                <li>You’ll be able to spot Scrum and Kanban in the wild</li>
                <li>You’ll be able to identify the key features of each</li>
            </ul>

            <p>Not only that, but you’ll know:</p>
            <ul>     
                <li><strong>Why we do what we do</strong> in <em>Scrum</em></li>
                <li><strong>Why we do what we do</strong> in <em>Kanban</em></li>
            </ul>

        </div>
    </div>
        
</section>    

 #}



{# THE (CORE) OFFER #}



<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center; ">

            <h1 style="text-align: center; font-weight:bold; ">
            Here's the <span style="text-decoration:underline">limited-time</span> package I've put together for you:</h2>

            <img src="/images/courses/svk-offer/bundle-core.png" />

        </div>
    </div>


{% set stages = {
    1: {'title': 'Foundation', 
        'body': ''
        },
    2: {'title': 'Flex', 
        'body': ''
        },
    3: {'title': 'Focus', 
        'body': ''
        },
    4: {'title': 'Flow', 
        'body': ''
        },
    5: {'title': 'Fuel', 
        'body': ''
        },
    6: {'title': 'Farewell', 
        'body': ''
        },
    7: {'title': 'Fine-tune', 
        'body': ''
        }
    }
%}

    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>What's inside Agile Inside Out?</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns">
                <p>Let me give you a quick peek inside.</p>
                    {% for k, stage in stages %}
                        <h3>Lesson {{ k }}</h3>
                        {{ stage.body | raw }}
                    {% endfor %}
           </div>
        </div>
          
    </section>


{# ToTMs #}

    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>A new Theme every month</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns">

                <p>Every month, we focus on a 
                Let me give you a quick peek inside.</p>

                <p>Already in the pipeline:</p>
                <ul>
                    <li>   </li>
                    <li>   </li>
                </ul>
           </div>
        </div>
          
    </section>



    <div class="grid-x align-center" style="margin-top:2em" >
        <div class="cell medium-3">

                <img src="/images/courses/svk-offer/course.png" />
        </div>
        <div class="cell medium-6">

            <h3 style="font-weight: bold; line-height: 1em">#1 - The Scrum vs Kanban Crash Course</h3>

            <p>This super-concentrated video course was designed to get you up to speed with <strong>Scrum</strong>, 
            <strong>Kanban</strong> - and <strong>Agile</strong> - in the shortest possible time.</p>

            <p>In the course we'll start by answering three fundamental questions:</p>

            <ol>
                <li><strong>What is Agile?</strong>... and how do Scrum and Kanban fit into <strong>Agile</strong>?</li>
                <li><strong>What is Scrum?</strong></li>
                <li><strong>What is Kanban?</strong></li>
            </ol>

            <p>We'll then line up <strong>Scrum</strong> and <strong>Kanban</strong> side by side - to compare
            and contrast; we'll highlight their <em>differences</em> - AND their <em>similarities</em>. 
            (You may discover that they are more similar than you'd imagined.)</p>

        </div>
    </div>


    <div class="grid-x align-center"  style="margin-top:2em">
        <div class="cell medium-3">
                <img src="/images/courses/svk-offer/workbook.png" />
        </div>
        <div class="cell medium-6">
            
                <h3 style="font-weight: bold; line-height: 1em">#2 - The Scrum vs Kanban WORKBOOK</h3>
                <p>Passive learning is fine, but I want your learning to be <strong>active</strong>!</p>
                <p>That's why I've designed to fill-in-the blanks workbook to go along with the course.</p>

            </p>
        </div>
    </div>


    <div class="grid-x align-center"  style="margin-top:2em">
        <div class="cell medium-3">
                <img src="/images/courses/svk-offer/audio.png" />
        </div>
        <div class="cell medium-6">
            <h3 style="font-weight: bold; line-height: 1em">#3 - The Scrum vs Kanban AUDIO VERSION</h3>
            <p>Prefer to listen rather than watch? No problem! Take the audio version of the course 
            with you in the car or to the gym. Or in the car on the way to the gym.</p>

        </div>
    </div>

</section>



{# BONUSES #}


<section class="grid-container fluid green">

    <div class="grid-x align-center">

        <div class="cell large-6">
            <h1 style="font-weight:bold">Wait! That's not all!</h1>

            <p>I've gone all out to assemble an extensive bonus package</p>
        </div>      
    </div>




    <div class="grid-x  grid-padding-x  grid-margin-x  grid-margin-y grid-padding-y align-center ">

        <div class="cell large-3 bonus-box">

            <div class="blue bonus-header" >BONUS #1</div>

            <img src="/images/courses/svk-offer/collection.png" />

            <h3>The Scrum vs Kanban Crash Course</h3>

            <p>Lorem ipsum</p>

        </div>      

        <div class="cell large-3 bonus-box">
            <div class="blue bonus-header" >BONUS #2</div>

            <img src="/images/courses/svk-offer/community.png" />
            <h3>Agile Estimating and Planning - Beyond Story Points and Planning Poker</h3>

            <p>This is the big one: exclusive <span style="text-decoration: underline">lifetime access</span> to the <strong>Scrum vs Kanban COMMUNITY</strong>.</p>

        </div>      

        <div class="cell large-3 bonus-box" >

            <div class="blue bonus-header" >BONUS #3</div>

            <div><img src="/images/courses/svk-offer/secrets.png" /></div>

            <h3>The Scrumban Blueprint 2.0</h3>
                    
            <p>My hope is that this course will whet your appetite to learn more about Scrum, or Kanban, or both.</p>

        </div>      

    </div>

</section>



<section class="grid-container fluid blue">

    <div class="grid-x align-center" style="margin-bottom: 2em">
        <div class="cell large-8 ">
            <p style="text-align:center; margin-top: 0">
                {% include  'aio-buttons.html'  with  {"anchorlink": true}  %} 
            </p>
        </div>
    </div>

</section>




{# SOCIAL PROOF #}


{% set testimonials = {
     2: 'It was good, educational content',
    1: 'Very simple to understand and well organized without too much jargon or details',
    3: 'Didactical, to the point, addictive',
    4: 'Explained in simple terms easy to understand and follow, also delivered in a logical Systems approach to training',
    8: 'Easy to understand',
    5: 'Very compact information in an entertaining setup',
    6: 'The clarity in which you describe the two different frameworks.',
    9: 'Short and clear'
    } 
%}

    <!--
//    7: 'I like the idea to browse through the video to get the overall idea of the  course. Given I did this again this year, more of a refresher and noticing if either definitions or concepts had changed.',
    -->

{# <section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-7 align-center" style="text-align:center;" >

                <h1 style="font-weight:bold">Don't take my word for it!</h1>
                <p> Here's what students are saying about the course:</p>

            </div>
        </div>

        <div class="cell medium-7 align-center" style="text-align:center; font-size: 1.6em; line-height: 1em"  >
            {% for testimonial in testimonials %}
                <p>&ldquo;{{ testimonial }}&rdquo;</p>
            {% endfor %}
        </div>
    </div>
          
</section> #}





{# URGENCY #}

<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center">

            
            <p>IMPORTANT: THIS IS A LIMTED TIME OFFER!!!
    
            <img src="/images/courses/svk-ready.png" />

            <p style="text-align:center">
                {% include 'aio-buttons.html' with {anchorlink:false} %}
            </p>

        </div>
    </div>
        
</section>



{# GUARANTEE #}

<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center">


            <h1 style="font-weight:bold">I'm taking all the risk</h1>


            <img src="/images/courses/svk-offer/guarantee.png" />

            <p style="font-size: 1.6em; margin-top:1em">


            
                I've put together a package that's unrivaled in the industry.<br />
                 But if for any reason you don't LOVE IT, let me know within 
                30 days and I'll give you your money back, <strong>no questions asked</strong>.
            
            </p>

        </div>
    </div>

    <div class="grid-x align-center" style="margin-bottom: 2em">
        <div class="cell large-8 ">
            <p style="text-align:center; margin-top: 0">
                {% include  'aio-buttons.html'  with  {"anchorlink": true}  %} 
            </p>
        </div>
    </div>

        
</section>






{# 


    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>Who is this course for?</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">

                <p>If you are:</p>
                
                <ul>
                    <li><strong>new to Scrum</strong>...</li>
                    <li><strong>new to Kanban</strong>...</li>
                    <li>and especially if you’re <strong>new to Agile</strong>...</li>
                </ul>

                <p>... then this course is perfect for you.</p>

                <p><strong>The Scrum vs Kanban Crash Course</strong> was designed  
                <strong>to get you up to speed</strong> in the <strong>shortest possible time</strong>.</p>
                


            </div>

        </div>

    </section> #}

{# 
    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Who is it NOT for?</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">

                <p>Are you a qualified Scrum Master? A qualified Agile Coach? Do you have years of experience in an Agile environment?</p>
                
                <p>If so... <strong>this course is not for you</strong>.</p>
                <p>(HINT: it may be <em>perfect</em> for <em>your team!</em>)</p>

            </div>

        </div>

    </section> #}




{# 
    <section class="grid-container fluid white">

        <div class="row">

            <div class="columns">
                <h1>100% Money back guarantee</h1>
            </div>
        </div>

        <div class="grid-x">
   
            <div class="cell large-2 large-offset-2 small-centered">
                <img src="/images/guarantee.png" width="333" height="333" />
            </div>

            <div class=" cell large-6 end small-centered">

                <p>This course has been two years in the making. And I can't wait for you to check it out.</p>

                <p>So I'm going to take the risk from you... and put in all on me.</p>

                <p>Here's the deal:</p>

                <p style="font-size: 1.4em">If you don't agree that <strong>The Scrum vs Kanban Crash Course</strong>
                is the best training<br /> in its class, then I will refund your money.</p>

                <p>To be crystal clear:</p>

                <p style="font-size: 1.4em"><strong>100% Money-back guarantee. No questions asked</strong>.</p>

           </div>
           
        </div>
          
    </section> #}

{# 
<section class="grid-container fluid blue">

    <div class="row">
        <div class="large-12 columns">
            <h1>Ready to jump in?</h1>
        </div>
    </div>


    <div class="row">
        <div class="large-3  small-centered columns">
            <p style="text-align:center">
            <strong>The Scrum vs Kanban Crash Course</strong> is ready and waiting for you!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-3 small-centered columns">
            <p style="text-align:center">
                {% include('aio-buttons.html') %}
            </p>
        </div>
    </div>

</section> #}



{% set faqs = {

    
    1: {'q': 'How long do I have access to the course?', 'a': 'You will have lifetime access to the course.'},
    10: {'q': 'How is the course delivered?', 'a': 'The course "lives" on my "fancy course platform".'},

    20: {'q': 'Is it just videos?', 'a': 'Not quite: each lesson consists of a video followed by a short quiz.'},
    30: {'q': 'Wait! What? <em>A short quiz?</em>', 'a': "Don't worry: nothing too taxing. The quizzes are there to ensure that you're learning as well as enjoying the show."},
    40: {'q': 'Are the lesson videos already on YouTube?', 'a': "No. This course is more - <em>much more</em> - than a re-hash of videos from YouTube."},
    50: {'q': 'Do the lessons contain clips I may have seen on YouTube?', 'a': "Yes. YouTube is a fabulous testing ground for videos: the course features clips from my most popular YouTube videos - videos that have been viewed tens of thousands of times!"},
   
    60: {'q': 'Is the course self-paced?', 'a': 'Yes it is. And my "fancy course platform" makes it easy for you to pick up where you left off.'}
    }   
%}



{# 
    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns">

                {% for faq in faqs %}
                    <h3>{{ faq.q | raw }}</h3>
                    <p>{{ faq.a | raw }}</p>
                {% endfor %}

           </div>
        </div>
          

    </section> #}




<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>What's the catch?</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-3 large-offset-2 small-centered columns">

            <p><em>Officially</em>, <strong>Agile Inside Out</strong> is closed 
            for enrollment. (The next official opening in April.)</p>

            <p>Meaning that you'll have to wait the first week of May for <strong>The Welcome Party</strong>
            and the <strong>Zoom Onboarding Sessions</strong>.</p>

            <p>But <em>in the meantime</em>, you'll have access to <strong>everything else</strong>:</p>
            <ul>
                <li>The <strong>Flight Plan</strong></li>
                <li>All of the <strong>Stage-specific content</strong></li>
                <li>All three courses:
                <li><strong>The Scrum vs Kanban Crash Course</strong></li>
                <li><strong>Agile Estimating and Planning - Beyond Story Points and Planning Poker</strong></li>
                <li><strong>The Scrumban Blueprint 2.0</strong></li>
                <li>SOMETHING ELSE</li>
                <li>AND SOMETHING ELSE</li>
            </ul>
        </div>
    </div>
        
</section>







{# THE STACK!!! #}

<section class="grid-container fluid green" >

    <div class="grid-x align-center">

        <div class="cell medium-9" style="text-align: center">

            <h1 style="font-weight:bold; text-align:center; font-size:3em; line-height:1em; margin-bottom:1em">Here's a recap of
            everything you'll get
            when you purchase this <span style="text-decoration: underline">limited-time</span> offer!</h1>
        </div>

        <div class="cell" style="text-align: center">

            <img src="/images/courses/svk-offer/bundle-all.png" />

        </div>

        <div class="cell medium-7" style="">
           
            <ul class="stack-list">
                <li>Full access to <strong>Agile Inside Out</strong> <strong>($450/year value)</strong></li>
                <li>The app</li>
                <li>Full access to the <strong>Agile Inside Out</strong> <em>Community</em> <strong>($450/year value)</strong>

                <li><strong>Stage 1 - Foundation</strong> <strong>($247 value)</strong></li>
                <li><strong>Stage 2 - Flex</strong> <strong>($247 value)</strong></li>
                <li><strong>Stage 3 - Focus</strong> <strong>($247 value)</strong></li>
                <li><strong>Stage 4 - Flow</strong> <strong>($247 value)</strong></li>
                <li><strong>Stage 5 - Fuel</strong> <strong>($247 value)</strong></li>
                <li><strong>Stage 6 - Farewell</strong> <strong>($247 value)</strong></li>
                <li><strong>Stage 7 - Fine-tune</strong> <strong>($247 value)</strong></li>


                <li><strong>Gary's SECRET Agile Resources</strong> <strong>($47 value)</strong></li>

                <li><strong>Bonus #1 - The Scrum vs Kanban Crash Course</strong> <strong>($37 value)</strong></li>
                <li><strong>Bonus #2 - Agile Estimating and Planning - Beyond Story Points and Planning Poker</strong> <strong>($450 value)</strong></li>
                <li><strong>Bonus #3 - The Scrumban Blueprint 2.0</strong> <strong>($450 value)</strong></li>

                <li><strong>Bonus #4 - The Story Slicing Masterclass</strong> <strong>($247 value)</strong></li>

            </ul>

{# 
Immediate access to the "Insiders"; tap into the skills and experience of this unique community
Immediate access to the 7 Flight Plan Stages:
✈️ Stage 1 - Foundation [$247 value]
✈️ Stage 2 - Flex [$247 value]
✈️ Stage 3 - Focus [$247 value]
✈️ Stage 4 - Flow [$247 value]
✈️ Stage 5 - Fuel [$247 value]
✈️ Stage 6 - Farewell [$247 value]
✈️ Stage 7 - Fine-tune [$247 value]
And not forgetting the bonuses:
🎁 Bonus #1 - 1-on-1 onboading with Gary [$247 value]
🎁 Bonus #2 - "The Story Slicing Masterclass" [$247 value]
🎁 Bonus #3 - “Agile Estimating and Planning - Beyond Story Points and Planning Poker” [$449.99 value]
Don't miss out: doors close Tuesday 20 October 2020
 #}



        </div>

        <div class="cell" style="text-align: center" id="cta">
            <p style="font-size: 3em; font-weight: bold">TOTAL VALUE: $2,345</p>
        </div>

        <div class="cell" style="text-align: center">

            <p>But today, you're getting all of this <strong>FOR ONLY</strong>:<p>
            <p style="font-size: 5em; font-weight: bold">$45/month</p>

            <p>Better still, get <strong>2 months free</strong> with the annual option:<p>
            <p style="font-size: 5em; font-weight: bold">$450/year</p>
        </div>


    </div>
</section>






<section class="grid-container fluid blue">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center">



            <p style="font-size: 2em; padding:0">Ready get up to speed with <strong>Scrum</strong> and <strong>Kanban</strong>?</p>


            <p>Click the button below:</p>
    
            <p style="text-align:center">
                {% include 'aio-buttons.html' with {anchorlink:false} %}
            </p>

            <p style="font-size: 2em; margin-top: 1.6em"><em>I'll see you on the inside!</em></p>


        </div>
    </div>
        
</section>




<section class="grid-container fluid green"  style="padding-top: 20em">

    <div class="grid-x align-center">
        <div class="cell medium-6">


{# 


            <p><strong>PS</strong> - Here's a final reminder of this $300+ value offer:</p>
            
            <ul>
                <li>The Scrum vs Kanban Crash Course</li>
                <li>he Scrum vs Kanban WORKBOOK</li>
                <li>The Scrum vs Kanban AUDIO VERSION</li>
                <li>The Cheat Sheet Collection</li>
                <li>The Scrum vs Kanban COMMUNITY</li>
                <li>Gary's SECRET Agile Resources</li>
            </ul>

            <p>Here's what you need to do to get all of the above for just $37:</p>
            <ol>
                <li>Click this link</li>
                <li>Create an account</li>
                <li>Enter your payment details</li>
                <li>That's it!</li>
            </ol>
 #}


        </div>
    </div>
        
</section>


{% endblock %}

