{% extends 'base.html.twig' %}


{% block head %}
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-N7LW3NR"></script>
    {{ parent() }}
{% endblock %}


{% block nav %}
{% endblock %}


{# 
{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}
 #}


{% block body %}


{# {{ dump(app.request.query) }} #}

{%  set ref = app.request.query.get("ref") %}
{%  set target = app.request.query.get("target") %}
{# Usage: "target=mn" changes the button url #}


{% if ref in ["svk", "scrum"] %}
<section class="grid-container fluid blue" style="margin: 0; padding: 1em 0 0 0">
    <div class="grid-x align-center">
        <div class="cell medium-12">
            <p style="text-align:center">Your Cheat Sheet is on its way to your inbox, but before you go, check out this very special offer, just for you!</p>
        </div>
    </div>
</section>
{% endif %}



<section class="grid-container fluid white">

    <div class="grid-x align-center" >
        <div class="cell ">
            <h2 style="text-align: center; font-weight:bold; font-size: 2em">New to Agile? You NEED To See This!</h2>
            <h1 style="color:red; font-weight:bold; font-size: 3em">"The SECRET To Getting Up To Speed With Scrum and Kanban In The Shortest Possible Time"</h1>
        </div>
    </div>


    {% set vimeo_id = "500877351" %} 

    <div class="grid-x align-center" style="margin-top: 2em">
        <div class="cell large-8 ">
            <div class="responsive-embed vimeo widescreen">
                <iframe src="https://player.vimeo.com/video/{{ vimeo_id }}?autoplay=1&texttrack=en" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <p style="text-align:center; margin-top: 3em">
                {% include  'svk-buttons.html'  with  {"anchorlink": true}  %} 
            </p>
        </div>
    </div>

</section>




{# THE BUTTONS!!! #}

<section class="grid-container fluid white" style="padding:0">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            
        </div>
    </div>
</section>


{# 

<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Has the world gone mad?</h1>
        </div>
    </div>

    <div class="row">

        <div class="large-3 large-offset-2 small-centered columns">

            <p>If you’re new to Agile, you’d be forgiven for thinking you’ve just entered a madhouse, or some strange parallel dimension.</p>

            <p>There’s a whole new vocabulary. And the way things are done is, well, weird.</p>

            <p>If you’ve had <strong>training</strong>, you’re one of the lucky ones. Most of us are thrown 
            in the deep end.</p>


            <p style="padding: 1em 0"><strong>I've been there</strong></p>

            <p>In 2012 I walked into the offices of the BBC to join a team that was “doing Agile”.</p>

            <p><strong>And it was a shock to the system</strong>.</p>

            <p>Being just a cog in the machine, I couldn’t see the big picture. It took months 
            - <em>years</em> - for me to piece things together.</p>

            <p>As the mists began to clear - as started figuring out the pieces of the puzzle - 
            I started to post videos on YouTube.</p>

            <p>The reaction took me completely by surprise:</p>
            
            <p>People told me that after watching my videos they finally “</strong>got Agile</strong>”.</p>
            
            <p>That it finally “<strong>clicked</strong>”.</p>

        </div>

    </div>

</section>


<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns">
            <h1>Help is at hand</h1>
        </div>
    </div>

    <div class="row">

        <div class="large-3 large-offset-2 small-centered columns">
            
            <p>I'm glad that my YouTube videos have helped in some small way.</p>

            <p>(<strong>Development That Pays</strong> has grown to be the <strong>No.1 Agile Channel</strong> on YouTube.)

            <p>But I wanted to do more. To have more <em>impact</em>.</p>

            <p>So I created a <em>course</em>. A <em>crash course</em>. <strong>The Scrum vs Kanban Crash Course</strong>.</p>

                <p>If you are:</p>
            
            <ul>
                <li><strong>new to Scrum</strong>...</li>
                <li><strong>new to Kanban</strong>...</li>
                <li>and especially if you’re <strong>new to Agile</strong>...</li>
            </ul>

            <p>... then this course is perfect for you.</p>

        </div>

    </div>

</section>


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>You've Got This</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-3 large-offset-2 small-centered columns">

            <p>By the end of the course...</p>
            <ul>
                <li>You’ll be able to spot Scrum and Kanban in the wild</li>
                <li>You’ll be able to identify the key features of each</li>
            </ul>

            <p>Not only that, but you’ll know:</p>
            <ul>     
                <li><strong>Why we do what we do</strong> in <em>Scrum</em></li>
                <li><strong>Why we do what we do</strong> in <em>Kanban</em></li>
            </ul>

        </div>
    </div>
        
</section>    

 #}



{# THE OFFER #}



<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center; ">

            <h1 style="text-align: center; font-weight:bold; ">
            Here's the <span style="text-decoration:underline">limited-time</span> package I've put together for you:</h2>

            <img src="/images/courses/svk-offer/bundle-core.png" />

        </div>
    </div>

    <div class="grid-x align-center" style="margin-top:2em" >
        <div class="cell medium-3">

                <img src="/images/courses/svk-offer/course.png" />
        </div>
        <div class="cell medium-6">

            <h3 style="font-weight: bold; line-height: 1em">#1 - The Scrum vs Kanban Crash Course</h3>

            <p>This super-concentrated video course was designed to get you up to speed with <strong>Scrum</strong>, 
            <strong>Kanban</strong> - and <strong>Agile</strong> - in the shortest possible time.</p>

            <p>In the course we'll start by answering three fundamental questions:</p>

            <ol>
                <li><strong>What is Agile?</strong>... and how do Scrum and Kanban fit into <strong>Agile</strong>?</li>
                <li><strong>What is Scrum?</strong></li>
                <li><strong>What is Kanban?</strong></li>
            </ol>

            <p>We'll then line up <strong>Scrum</strong> and <strong>Kanban</strong> side by side - to compare
            and contrast; we'll highlight their <em>differences</em> - AND their <em>similarities</em>. 
            (You may discover that they are more similar than you'd imagined.)</p>

        </div>
    </div>


    <div class="grid-x align-center"  style="margin-top:2em">
        <div class="cell medium-3">
                <img src="/images/courses/svk-offer/workbook.png" />
        </div>
        <div class="cell medium-6">
            
                <h3 style="font-weight: bold; line-height: 1em">#2 - The Scrum vs Kanban WORKBOOK</h3>
                <p>Passive learning is fine, but I want your learning to be <strong>active</strong>!</p>
                <p>That's why I've designed to fill-in-the blanks workbook to go along with the course.</p>

            </p>
        </div>
    </div>


    <div class="grid-x align-center"  style="margin-top:2em">
        <div class="cell medium-3">
                <img src="/images/courses/svk-offer/audio.png" />
        </div>
        <div class="cell medium-6">
            <h3 style="font-weight: bold; line-height: 1em">#3 - The Scrum vs Kanban AUDIO VERSION</h3>
            <p>Prefer to listen rather than watch? No problem! Take the audio version of the course 
            with you in the car or to the gym. Or in the car on the way to the gym.</p>

        </div>
    </div>

</section>



{# BONUSES #}


<section class="grid-container fluid green">

    <div class="grid-x align-center">

        <div class="cell large-6">
            <h1 style="font-weight:bold">Wait! That's not all!</h1>

            <p>I've gone all out to assemble a bonus package that will support you before,
            during and after the Scrum vs Kanban Crash Course</p>
        </div>      
    </div>




    <div class="grid-x  grid-padding-x  grid-margin-x  grid-margin-y grid-padding-y align-center ">

        <div class="cell large-3 bonus-box">

            <div class="blue bonus-header" >BONUS #1</div>

            <img src="/images/courses/svk-offer/collection.png" />

            <h3>The Cheat Sheet<br />COLLECTION</h3>

            <p>My Cheat Sheets are a little bit famous in the Agile world. This collection includes:</p>

            <ul>
                <li>The Scrum vs Kanban Cheat Sheet</li> 
                <li>The Waterfall vs Agile Cheat Sheet</li>
                <li>The Scrum Cheat Sheet</li>
                <li>Daily Standup Words of Wisdom</li>
            </ul>

        </div>      

        <div class="cell large-3 bonus-box">
            <div class="blue bonus-header" >BONUS #2</div>

            <img src="/images/courses/svk-offer/community.png" />
            <h3>The Scrum vs Kanban<br />COMMUNITY</h3>

            <p>This is the big one: exclusive <span style="text-decoration: underline">lifetime access</span> to the <strong>Scrum vs Kanban COMMUNITY</strong>.</p>

            <p>As you embark on your Agile journey, it's good to know that you won't be travelling alone;
             you'll be rubbing shoulders with alumni <strong>past, present and future</strong>.</p>



        </div>      

        <div class="cell large-3 bonus-box" >

            <div class="blue bonus-header" >BONUS #3</div>

            <div><img src="/images/courses/svk-offer/secrets.png" /></div>

            <h3>My SECRET<br />Agile Resources</h3>
                    
            <p>My hope is that this course will whet your appetite to learn more about Scrum, or Kanban, or both.</p>

            <p>So I've created a list of resources - my go-to documents, books, videos and websites.</p>

            <p><strong>IMPORTANT</strong>: I've never shared this list before: it's only available inside this course!</p>   

        </div>      

    </div>

</section>



<section class="grid-container fluid blue">

    <div class="grid-x align-center" style="margin-bottom: 2em">
        <div class="cell large-8 ">
            <p style="text-align:center; margin-top: 0">
                {% include  'svk-buttons.html'  with  {"anchorlink": true}  %} 
            </p>
        </div>
    </div>

</section>







{# SOCIAL PROOF #}


{% set testimonials = {
     2: 'It was good, educational content',
    1: 'Very simple to understand and well organized without too much jargon or details',
    3: 'Didactical, to the point, addictive',
    4: 'Explained in simple terms easy to understand and follow, also delivered in a logical Systems approach to training',
    8: 'Easy to understand',
    5: 'Very compact information in an entertaining setup',
    6: 'The clarity in which you describe the two different frameworks.',
    9: 'Short and clear'
    } 
%}

    <!--
//    7: 'I like the idea to browse through the video to get the overall idea of the  course. Given I did this again this year, more of a refresher and noticing if either definitions or concepts had changed.',
    -->

<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-7 align-center" style="text-align:center;" >

                <h1 style="font-weight:bold">Don't take my word for it!</h1>
                <p> Here's what students are saying about the course:</p>

            </div>
        </div>

        <div class="cell medium-7 align-center" style="text-align:center; font-size: 1.6em; line-height: 1em"  >
            {% for testimonial in testimonials %}
                <p>&ldquo;{{ testimonial }}&rdquo;</p>
            {% endfor %}
        </div>
    </div>


          
</section>





{# URGENCY #}
{# 
<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center">

            
            <p>IMPORTANT: THIS IS A LIMTED TIME OFFER!!!
    
            <img src="/images/courses/svk-ready.png" />

            <p style="text-align:center">
                {% include 'svk-buttons.html' with {anchorlink:false} %}
            </p>

        </div>
    </div>
        
</section>

 #}



{# GUARANTEE #}

<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center">


            <h1 style="font-weight:bold">I'm taking all the risk</h1>


            <img src="/images/courses/svk-offer/guarantee.png" />

            <p style="font-size: 1.6em; margin-top:1em">
            
                I've put together a package that's unrivaled in the industry.<br />
                 But if for any reason you don't LOVE IT, let me know within 
                30 days and I'll give you your money back, <strong>no questions asked</strong>.
            
            </p>

        </div>
    </div>

    <div class="grid-x align-center" style="margin-bottom: 2em">
        <div class="cell large-8 ">
            <p style="text-align:center; margin-top: 0">
                {% include  'svk-buttons.html'  with  {"anchorlink": true}  %} 
            </p>
        </div>
    </div>

        
</section>






{# 


    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>Who is this course for?</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">

                <p>If you are:</p>
                
                <ul>
                    <li><strong>new to Scrum</strong>...</li>
                    <li><strong>new to Kanban</strong>...</li>
                    <li>and especially if you’re <strong>new to Agile</strong>...</li>
                </ul>

                <p>... then this course is perfect for you.</p>

                <p><strong>The Scrum vs Kanban Crash Course</strong> was designed  
                <strong>to get you up to speed</strong> in the <strong>shortest possible time</strong>.</p>
                


            </div>

        </div>

    </section> #}

{# 
    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Who is it NOT for?</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">

                <p>Are you a qualified Scrum Master? A qualified Agile Coach? Do you have years of experience in an Agile environment?</p>
                
                <p>If so... <strong>this course is not for you</strong>.</p>
                <p>(HINT: it may be <em>perfect</em> for <em>your team!</em>)</p>

            </div>

        </div>

    </section> #}




{# 
    <section class="grid-container fluid white">

        <div class="row">

            <div class="columns">
                <h1>100% Money back guarantee</h1>
            </div>
        </div>

        <div class="grid-x">
   
            <div class="cell large-2 large-offset-2 small-centered">
                <img src="/images/guarantee.png" width="333" height="333" />
            </div>

            <div class=" cell large-6 end small-centered">

                <p>This course has been two years in the making. And I can't wait for you to check it out.</p>

                <p>So I'm going to take the risk from you... and put in all on me.</p>

                <p>Here's the deal:</p>

                <p style="font-size: 1.4em">If you don't agree that <strong>The Scrum vs Kanban Crash Course</strong>
                is the best training<br /> in its class, then I will refund your money.</p>

                <p>To be crystal clear:</p>

                <p style="font-size: 1.4em"><strong>100% Money-back guarantee. No questions asked</strong>.</p>

           </div>
           
        </div>
          
    </section> #}

{# 
<section class="grid-container fluid blue">

    <div class="row">
        <div class="large-12 columns">
            <h1>Ready to jump in?</h1>
        </div>
    </div>


    <div class="row">
        <div class="large-3  small-centered columns">
            <p style="text-align:center">
            <strong>The Scrum vs Kanban Crash Course</strong> is ready and waiting for you!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-3 small-centered columns">
            <p style="text-align:center">
                {% include('svk-buttons.html') %}
            </p>
        </div>
    </div>

</section> #}



{% set faqs = {

    
    1: {'q': 'How long do I have access to the course?', 'a': 'You will have lifetime access to the course.'},
    10: {'q': 'How is the course delivered?', 'a': 'The course "lives" on my "fancy course platform".'},

    20: {'q': 'Is it just videos?', 'a': 'Not quite: each lesson consists of a video followed by a short quiz.'},
    30: {'q': 'Wait! What? <em>A short quiz?</em>', 'a': "Don't worry: nothing too taxing. The quizzes are there to ensure that you're learning as well as enjoying the show."},
    40: {'q': 'Are the lesson videos already on YouTube?', 'a': "No. This course is more - <em>much more</em> - than a re-hash of videos from YouTube."},
    50: {'q': 'Do the lessons contain clips I may have seen on YouTube?', 'a': "Yes. YouTube is a fabulous testing ground for videos: the course features clips from my most popular YouTube videos - videos that have been viewed tens of thousands of times!"},
   
    60: {'q': 'Is the course self-paced?', 'a': 'Yes it is. And my "fancy course platform" makes it easy for you to pick up where you left off.'}
    }   
%}



{# 
    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns">

                {% for faq in faqs %}
                    <h3>{{ faq.q | raw }}</h3>
                    <p>{{ faq.a | raw }}</p>
                {% endfor %}

           </div>
        </div>
          

    </section> #}



{# THE STACK!!! #}

<section class="grid-container fluid green" >

    <div class="grid-x align-center">

        <div class="cell medium-9" style="text-align: center">

            <h1 style="font-weight:bold; text-align:center; font-size:3em; line-height:1em; margin-bottom:1em">Here's a recap of
            everything you'll get
            when you purchase this <span style="text-decoration: underline">limited-time</span> offer!</h1>
        </div>

        <div class="cell" style="text-align: center">

            <img src="/images/courses/svk-offer/bundle-all.png" />

        </div>

        <div class="cell medium-7" style="">
           
            <ul class="stack-list">
                <li><strong>The Scrum vs Kanban Crash Course</strong> <strong>($47 value)</strong></li>
                <li><strong>The Scrum vs Kanban WORKBOOK</strong> <strong>($47 value)</strong></li>
                <li><strong>The Scrum vs Kanban AUDIO VERSION</strong> <strong>($47 value)</strong></li>
                <li><strong>The Cheat Sheet Collection </strong> <strong>($17 value)</strong></li>
                <li><strong>The Scrum vs Kanban COMMUNITY</strong> <strong>($97 value)</strong></li>
                <li><strong>Gary's SECRET Agile Resources</strong> <strong>($47 value)</strong></li>
            </ul>

        </div>

        <div class="cell" style="text-align: center" id="cta">
            <p style="font-size: 3em; font-weight: bold">TOTAL VALUE: $302</p>
        </div>

        <div class="cell" style="text-align: center">

            <p>But today, you're getting all of this...<p>


            <p style="font-size: 5em; font-weight: bold">FOR ONLY $37</p>
        </div>


    </div>
</section>






<section class="grid-container fluid blue">

    <div class="grid-x align-center">
        <div class="cell" style="text-align: center">


            {# <p style="font-size: 2em; padding:1.6em">So there it is: <strong>The Scrum vs Kanban Crash Course</strong> <br />- everything I wish I’d known 8 years ago when I joined a team that was "doing Agile".</p> #}

            <p style="font-size: 2em; padding:0">Ready get up to speed with <strong>Scrum</strong> and <strong>Kanban</strong>?</p>


            <p>Click the button below:</p>
    
            <p style="text-align:center">
                {% include 'svk-buttons.html' with {anchorlink:false} %}
            </p>

            <p style="font-size: 2em; margin-top: 1.6em"><em>I'll see you on the inside!</em></p>


        </div>
    </div>
        
</section>




<section class="grid-container fluid green"  style="padding-top: 20em">

    <div class="grid-x align-center">
        <div class="cell medium-6">


{# 


            <p><strong>PS</strong> - Here's a final reminder of this $300+ value offer:</p>
            
            <ul>
                <li>The Scrum vs Kanban Crash Course</li>
                <li>he Scrum vs Kanban WORKBOOK</li>
                <li>The Scrum vs Kanban AUDIO VERSION</li>
                <li>The Cheat Sheet Collection</li>
                <li>The Scrum vs Kanban COMMUNITY</li>
                <li>Gary's SECRET Agile Resources</li>
            </ul>

            <p>Here's what you need to do to get all of the above for just $37:</p>
            <ol>
                <li>Click this link</li>
                <li>Create an account</li>
                <li>Enter your payment details</li>
                <li>That's it!</li>
            </ol>
 #}


        </div>
    </div>
        
</section>


{% endblock %}

