{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}

    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Survey Results</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-8 large-offset-2 columns" >

                <p>The results of the latest survey are in!</p>
                
                <p>With more than 400 responses, this is the largest survey to date. I think you'll find it interesting.</p>

                <p>Click to view, or right-click to download:</p>

                <p><a href="/files/bad-santa-survey/DevelopmentThatPays_Survey_June_2019_0-1.pdf">Survey Results June 2018 (PDF 343KB)</a></p>

            </div>
        </div>

    </section>


    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>Previous Survey Results</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-8 large-offset-2 columns" >

                <p><a href="/files/bad-santa-survey/DevelopmentThatPays_BadSanta_2018-19_0-1.pdf">Bad Santa Survey Results 2018-19 (PDF 414KB)</a></p>

                <p><a href="/files/bad-santa-survey/DevelopmentThatPays_BadSanta_2017-18_2-1.pdf">Bad Santa Survey Results 2017-18 (PDF 387KB)</a></p>
                <p><a href="https://www.youtube.com/watch?v=MELDMPEuGOI">Bad Santa Survey Results 2016-17 (video)</a></p>
                
            </div>
        </div>

    </section>



{% endblock %}
