{% extends 'base.html.twig' %}

{% block body %}



<section class="grid-container fluid grey" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

    <div class="grid-x align-center">
        <div class="cell medium-6">
            <h1 itemprop="name">Oh dear...</h1>

            <p>Something went very wrong :(</p>

            <p>Sorry about that.</p>

            <p>Let's see if we can get you back on track:</p>

            <ul>
                <li><a href="/blog">Watch a video</a></li>
                <li><a href="/cheatsheets">Grab a Cheat Sheet</a></li>
                <li><a href="/courses">Browse our Courses</a></li>
            </ul>

            <p>&nbsp;</p>
            <p>Gary<br />
            Founder of Development That Pays</p>

        </div>

</section>



{% endblock %}
