{% extends 'base.html.twig' %}
{% block body %}

<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>{{ page.title }}</h1>
        </div>


        <div class="cell medium-8">
            {{ page.make[0].body | markdown }}
        </div>

        <div class="cell medium-8">
            {{ page.make[1].body | markdown }}
        </div>

        <div class="cell medium-8">
            {{ page.make[2].body | markdown }}
        </div>
    </div>
</section>

<section class="grid-container fluid white">

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>A pattern emerges</h1>
        </div>

        <div class="cell medium-8">
            {{ page.pattern[0].body | markdown }}
        </div>

        <div class="cell medium-8">
            {{ page.pattern[1].body | markdown }}
        </div>

        <div class="cell medium-8">
            {{ page.pattern[2].body | markdown }}
        </div>
    </div>
</section>

<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>History repeats</h1>
        </div>
        <div class="cell medium-8">
            {{ page.repeat[0].body | markdown }}
        </div>

        <div class="cell medium-8">
            {{ page.repeat[1].body | markdown }}
        </div>

        <div class="cell medium-8">
            {{ page.repeat[2].body | markdown }}
        </div>
    </div>
</section>

{% endblock %}
