



<!-- MAY USE FOR LAPSERS??  -->

{% if page.version is defined and page.version=='offer' %}

    <a href="#" style="text-decoration: line-through; margin-bottom:1em; background: #666666;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Enroll Now with a one-time payment of $37</a></span><br />
    <a href="https://community.developmentthatpays.com/users/onboarding/choose_plan?plan_id=73089&utm_source=svk-offer" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Enroll Now with a one-time payment of $17</a><br />                
    <img src="/images/courses/svk-limited-time.png" />


    
{% else %}

    <!-- The main $37 offer -->
    {% set  external_url = "https://community.developmentthatpays.com/plans/64665?bundle_token=4f8b5b7b6cf1063ebefc749c32031bf7&utm_source=manual" %}
    {% set  internal_url = "https://community.developmentthatpays.com/plans/66071?bundle_token=cb8d5bdfd54578a4266c33c82aa2cbcb&utm_source=manual" %}


    {% if anchorlink is defined and anchorlink is sameas(true) %}
        {% set url = "#cta" %}
    {% else %}    
        {% if target is defined and target == 'mn'  %}
            {% set  url = internal_url %}
        {% else %} 
            {% set  url = external_url %}
        {% endif %}
    {% endif %}

        <a href="{{ url }}"  style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">
            <span style="font-size: 2em">I'M READY TO JOIN!</span><br />
            Get instant access when you get started today
        </a>

        {% if anchorlink is sameas(false) and target != 'mn' %}
            <p style ="margin-top: 2em;"><em>IMPORTANT</em>:<br /> Already a member of the Development That Pays Community?<br /> <a href="{{ internal_url  }}">Use this link instead</a>. </p>
        {% endif  %}

{% endif %}
     
