<table>
    <tr>
        <td>
            <p>$44.99/month</p>
            <p>&nbsp;</p>
            </p>
                <a href="https://community.developmentthatpays.com/plans/52118?bundle_token=eac07b80959dd3840493a6d2a0b40365&utm_source=course-page"  style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">
                    Subscribe monthly
                </a>
            </p>
        </td>
        <td>
            <p>$444.99/year</p>
            <p>2 months free!</p>
            </p>
                <a href="https://community.developmentthatpays.com/plans/52118?bundle_token=eac07b80959dd3840493a6d2a0b40365&utm_source=course-page"  style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">
                    Subscribe annually
                </a>
            </p>
        </td>
    </tr>
</table>

<p>Already of a member of <strong>Development That Pays</strong> the Community? Use this link instead; it's the same price, but there's one less step (because you already have an account).</p>