<!doctype html>
<html class="no-js" lang="en">
<head>

    {% block noindex %}
    {% endblock %}


    {% block head %}


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6D7BXTCHWS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6D7BXTCHWS');
  </script>



  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44229629-2', 'auto');
      ga('send', 'pageview');

  </script>


 <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
              n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
          n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
              document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '1586405274991828');
      fbq('track', "PageView");</script>
  <noscript><img height="1" width="1" style="display:none"
                  src="https://www.facebook.com/tr?id=1586405274991828&ev=PageView&noscript=1"
      /></noscript>
  <!-- End Facebook Pixel Code -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.metatitle }}</title>
    <meta name="description" content="{{ page.metadescription }}" />

    <link rel="stylesheet" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/s.css" />


    <link href="//fonts.googleapis.com/css?family=Raleway:100,400,300,600" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="p:domain_verify" content="bd9d1ffeee6b966280ba30f965c85374"/>   

    {% endblock %}

</head>
<body class="{{ page.class | default }}">


{% block nav %}

<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">Development That Pays</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/">Home</a></li>
      {#<li><a href="/why">Why</a></li>#}
      <li><a href="/scrumban">Scrumban</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/cheatsheets">Cheat Sheets</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>


{% endblock %}


{% block logo %}
{# <div class="grid-container fluid logo" >
    <a href="/" title="Return to the homepage" id="logo">
        <img src="/images/logo-no-text.png" alt="Development That Pays" />
    </a>
</div> #}
{% endblock %}

{% block body %}




{% endblock body %}

{% block footer %}
<div class="grid-container fluid footer" >
    <footer>
        <p itemscope itemtype="http://schema.org/LocalBusiness">
            <span itemprop="name">Development That Pays</span> -
            <span itemprop="telephone">07834 003 110</span> -
            <span itemprop="email">gary@garystraughan.com</span>
            <br />
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Oxford Road South</span>,
            <span itemprop="addressRegion">London</span>,
            <span itemprop="postalCode">W4 3DD</span>,
            <span itemprop="addressCountry">UK</span></span>
            <br />
            Copyright &copy; 2015-{{ "now"|date("Y") }} Gary Straughan. All rights reserved. | <a href="/privacy-policy">Privacy policy</a>
        </p>
    </footer>
</div>
{% endblock %}


<!-- Foundation -->
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>
<!-- end Foundation -->

<script async data-uid="144d207ece" src="https://winning-innovator-4457.ck.page/144d207ece/index.js"></script>

</body>
</html>