{% extends 'base.html.twig' %}


{% block noindex %}
    <meta name="robots" content="noindex" />
{% endblock %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}

<section class="grid-container fluid ">
    <div class="row">
        <div class="large-12 columns">
            <h1>Blog</h1>
        </div>
    </div>
</section>


<section class="grid-container fluid">

    {% for row in posts|batch(3, 'No item') %}

       <div class="grid-x grid-margin-x  align-center posts">

            {%  for id, post in row %}

                {% if post.title is defined and date(post.date) <= date() %}

                    {%   set slug = post.id  ~ '-' ~ post.slug %}

                    <div class="cell medium-3">

                        <a href="{{ app.url_generator.generate('post', { slug: slug }) }}">
                            <img src="/images/episode{{ post.id }}_333.png" width="333" height="187" />
                        </a>
                        <h3>{{ post.id }}. <a href="{{ app.url_generator.generate('post', { slug: slug }) }}">{{ post.title  }}</a></h3>
                        {#<p>Episode {{ post.index }} - {{ post.date|date("d M Y") }}</p>#}
                        {{ post.description | markdown }}
                        <a href="{{ app.url_generator.generate('post', { slug: slug }) }}">
                            Read more...
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    <div class="grid-x grid-margin-x  align-center posts">


    {% if paginator.numPages > 1 %}
        <ul class="pagination">
            {% if paginator.prevUrl %}
                <li><a href="{{ paginator.prevUrl }}">&laquo; Previous</a></li>
            {% endif %}

            {% for page in paginator.pages %}
                {% if page.url %}
                    <li {{ page.isCurrent ? 'class="active"' : '' }}><a href="{{ page.url }}">{{ page.num }}</a></li>
                {% else %}
                    <li class="disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.nextUrl %}
                <li><a href="{{ paginator.nextUrl }}">Next &raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
    </div>

</section>



{% endblock %}
