{% extends 'base.html.twig' %}


{% block body %}


{% set bigButton = 'Click me for a modal' %}
{% set buttonColor = 'green' %}
{% set formId = '879961300' %}
{% set formTitle = 'Get your Scrum Cheat Sheet - it\'s FREE!' %}
{% set callToAction 'Get it now!' %}



{% endblock %}
