{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}




    <article class="grid-container white">

       <div class="grid-x align-center">
            <div class="cell medium-8">
                <h1>{{ page.title }}</h1>
            </div>
        </div>

       <div class="grid-x align-center">
            <div class="cell medium-8">
                <p>
                    <img src="/images/cheatsheets/{{ page.id }}.png" height="970" width="636" />
                </p>
                <p style="text-align: center">
                    {{ include("forms/drip-form.html", {bigButton: page.bigButton, buttonColor: page.buttonColor, formId: page.drip, formTitle: page.formTitle, callToAction: page.callToAction}) }}
                </p>

                <h2>Free Upgrades. For life!</h2>
                <p>This is not the first issue of the Cheat Sheet, and chances are it won’t be the last.</p>
                <p>Rest assured, the <em>moment</em> a new version is ready, you'll get a new copy by email.</p>


                {% if  page.feedback is defined %}
                    <h2>Spotted something? Let me know!</h2>
                    <p>Like all <strong>Development That Pays</strong> Cheat Sheets, this one has improved over time - thanks to people just like you!</a>
                    <ul>
                        <li>If you notice an mistake...</li>
                        <li>If spot an a typo...</li>
                        <li>If you have a suggestion for improvement...</li>
                    </ul>
                    <p>  --&gt; <a href="{{ page.feedback }}">I want to hear from you!</a></p>
                    <!-- Need one per Cheat Sheet -->
                {% endif %}
            </div>
        </div>

    </article>

    <article class="grid-container white">

       <div class="grid-x align-center">
            <div class="cell medium-8">
                <p>I’m always on the lookout for good Cheat Sheet ideas, so <strong>if you have a suggestion for a new one</strong>, I want to hear it!<p>
                <p>  --&gt; <a href="https://www.surveymonkey.co.uk/r/G3GWKKM">Let me know your idea</a>.</p>
            </div>
        </div>
    </article>

{% endblock %}
