{% extends 'base.html.twig' %}
{% block body %}

<section class="grid-container fluid grey">
    <div class="grid-x align-center">
        <div class="cell medium-10">
            <h1>{{ page.title }}</h1>
        </div>

        <div class="cell medium-8">
            <h3>Email</h3>
            <p>
                <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#103;&#97;&#114;&#121;&#64;&#103;&#97;&#114;&#121;&#115;&#116;&#114;&#97;&#117;&#103;&#104;&#97;&#110;&#46;&#99;&#111;&#109;'>&#103;&#97;&#114;&#121;&#64;&#103;&#97;&#114;&#121;&#115;&#116;&#114;&#97;&#117;&#103;&#104;&#97;&#110;&#46;&#99;&#111;&#109;</a>
            </p>
        </div>

        <div class="cell medium-8">
            <h3>LinkedIn</h3>
            <p>
                <a href="https://www.linkedin.com/in/garystraughan/">https://www.linkedin.com/in/garystraughan/</a></p>
            </p>
        </div>
    </div>
</section>


<section class="grid-container fluid white">

     <div class="grid-x align-center">
        <div class="cell medium-8 large-4">   
            <h3>Contact address</h3>
            <p>Development that Pays<br />
            (trading as BRAINBOX Webtech Limited)<br />
            Oxford Road South<br />
            Chiswick<br />
            London W4 3DD</p>
        </div>

        <div class="cell medium-8 large-4">   
            <h3>Registered office</h3>
            <p>BRAINBOX Webtech Limited is Registered in England and Wales<br>
                Company registration number: 7404796<br>
                c/o Deacon’s Chartered Accountants &amp; Registered Auditors<br>
                The Stables<br>
                Shipton Bridge Farm<br>
                Widdington<br>
                Saffron Walden<br>
                Essex CB11 3SU</p>
        </div>

    </div>
</section>
{% endblock %}

