{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}

    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>{{ page.title }}</h1>
            </div>
        </div>


        <div class="grid-x">

            <div class="large-6 large-offset-3 cell">
                {{ page.body|raw }}
            </div>


            {%  if page.convertkit  %}
            <div class="large-6 large-offset-3 cell" >   
                <script async data-uid="{{ page.convertkit }}" src="https://winning-innovator-4457.ck.page/{{ page.convertkit }}/index.js"></script>
            </div>
            {%  endif  %}


{# 
            {%  if page.drip  %}
            <div class="large-12 columns" >
                <p style="text-align: center">
                    <a href="https://www.getdrip.com/forms/{{ page.drip }}/submissions/new" data-drip-show-form="{{ page.drip }}" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">{{ page.dripcta|default('Get Started Now!') }}</a>
                </p>
            </div>
            {%  endif  %} #}

        </div>

    </section>

    {#<section class="grid-container fluid grey">#}
        {#<div class="row">#}
            {#<div class="large-8 large-offset-2 columns" >#}
                {#<h2>Didn’t find what you were looking for?</h2>#}
                {#<p>I’m always on the lookout for good Cheat Sheet ideas, so <strong>if you have a suggestion for a new one</strong>, I want to hear it!<p>#}
                {#<p>  --&gt; <a href="https://www.surveymonkey.co.uk/r/G3GWKKM">Let me know your idea</a>.</p>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

{% endblock %}
