{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}

    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>{{ page.title }}</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 small-centered columns">

                <p style="text-align:center">Get up to speed with <strong>Scrum</strong> and 
                    <strong>Kanban</strong> in the shortest possible time with this <em>super-concentrated</em> course. 
                </p>

                <p style="text-align:center; margin-top: 0">
                    {% if page.version is defined and page.version=='offer' %}
                        <!-- directed at Scrum vs Kanban Cheat Sheet holders -->
                        <iframe src="https://player.vimeo.com/video/434017684" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    {% else %}
                        <iframe src="https://player.vimeo.com/video/440937606" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    {% endif %}
                </p>

                <p style="text-align:center; margin-top: 3em">

                    {% include('aio-buttons.html') %}  // Change me!

                </p>

            </div>

        </div>

    </section>

    

{% set testimonials = {
     2: 'It was good, educational content',

    1: 'Very simple to understand and well organized without too much jargon or details',
    3: 'Didactical, to the point, addictive',

    } 
%}

    <!--
//    7: 'I like the idea to browse through the video to get the overall idea of the  course. Given I did this again this year, more of a refresher and noticing if either definitions or concepts had changed.',
    -->

    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>What members are saying about <strong>Agile Inside Out</strong></h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns" style="font-size: 1.2em">
                    {% for testimonial in testimonials %}
                        <p>&ldquo;{{ testimonial }}&rdquo;</p>
                    {% endfor %}
           </div>
        </div>
          

    </section>


    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Has the world gone mad?</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">

                <p>If you’re new to Agile, you’d be forgiven for thinking you’ve just entered a madhouse, or some strange parallel dimension.</p>

                <p>There’s a whole new vocabulary. And the way things are done is, well, weird.</p>

                <p>If you’ve had <strong>training</strong>, you’re one of the lucky ones. Most of us are thrown 
                in the deep end.</p>


                <p style="padding: 1em 0"><strong>I've been there</strong></p>

                <p>In 2012 I walked into the offices of the BBC to join a team that was “doing Agile”.</p>

                <p><strong>And it was a shock to the system</strong>.</p>

                <p>Being just a cog in the machine, I couldn’t see the big picture. It took months 
                - <em>years</em> - for me to piece things together.</p>

                <p>As the mists began to clear - as started figuring out the pieces of the puzzle - 
                I started to post videos on YouTube.</p>

                <p>The reaction took me completely by surprise:</p>
                
                <p>People told me that after watching my videos they finally “</strong>got Agile</strong>”.</p>
                
                <p>That it finally “<strong>clicked</strong>”.</p>

            </div>

        </div>

    </section>


    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>Help is at hand</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">
                
                <p>I'm glad that my YouTube videos have helped in some small way.</p>

                <p>(<strong>Development That Pays</strong> has grown to be the <strong>No.1 Agile Channel</strong> on YouTube.)

                <p>But I wanted to do more. To have more <em>impact</em>.</p>

                <p>So I created a <em>course</em>. A <em>crash course</em>. <strong>The Scrum vs Kanban Crash Course</strong>.</p>

                 <p>If you are:</p>
                
                <ul>
                    <li><strong>new to Scrum</strong>...</li>
                    <li><strong>new to Kanban</strong>...</li>
                    <li>and especially if you’re <strong>new to Agile</strong>...</li>
                </ul>

                <p>... then this course is perfect for you.</p>

            </div>

        </div>

    </section>


    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>You've Got This</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns">

                <p>By the end of the course...</p>
                <ul>
                    <li>You’ll be able to spot Scrum and Kanban in the wild</li>
                    <li>You’ll be able to identify the key features of each</li>
                </ul>

                <p>Not only that, but you’ll know:</p>
                <ul>     
                    <li><strong>Why we do what we do</strong> in <em>Scrum</em></li>
                    <li><strong>Why we do what we do</strong> in <em>Kanban</em></li>
                </ul>

           </div>
        </div>
          

    </section>

{# 


    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>Who is this course for?</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">

                <p>If you are:</p>
                
                <ul>
                    <li><strong>new to Scrum</strong>...</li>
                    <li><strong>new to Kanban</strong>...</li>
                    <li>and especially if you’re <strong>new to Agile</strong>...</li>
                </ul>

                <p>... then this course is perfect for you.</p>

                <p><strong>The Scrum vs Kanban Crash Course</strong> was designed  
                <strong>to get you up to speed</strong> in the <strong>shortest possible time</strong>.</p>
                


            </div>

        </div>

    </section> #}

{# 
    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Who is it NOT for?</h1>
            </div>
        </div>

        <div class="row">

            <div class="large-3 large-offset-2 small-centered columns">

                <p>Are you a qualified Scrum Master? A qualified Agile Coach? Do you have years of experience in an Agile environment?</p>
                
                <p>If so... <strong>this course is not for you</strong>.</p>
                <p>(HINT: it may be <em>perfect</em> for <em>your team!</em>)</p>

            </div>

        </div>

    </section> #}


{% set stages = {
    1: {'title': 'Foundation', 
        'body': ''
        },
    2: {'title': 'Flex', 
        'body': ''
        },
    3: {'title': 'Focus', 
        'body': ''
        },
    4: {'title': 'Flow', 
        'body': ''
        },
    5: {'title': 'Fuel', 
        'body': ''
        },
    6: {'title': 'Farewell', 
        'body': ''
        },
    7: {'title': 'Fine-tune', 
        'body': ''
        }
    }
%}

    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>What's inside Agile Inside Out?</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns">

                <p>Let me give you a quick peek inside.</p>

                    {% for k, lesson in lessons %}
                        <h3>Lesson {{ k }}</h3>
                        {{ lesson.body | raw }}
                    {% endfor %}


           </div>
        </div>
          
    </section>




    <section class="grid-container fluid white">

        <div class="row">

            <div class="columns">
                <h1>100% Money back guarantee</h1>
            </div>
        </div>

        <div class="grid-x">
   
            <div class="cell large-2 large-offset-2 small-centered">
                <img src="/images/guarantee.png" width="333" height="333" />
            </div>

            <div class=" cell large-6 end small-centered">

                <p>Cancel any time</p>

                <p>So I'm going to take the risk from you... and put in all on me.</p>

                <p>Here's the deal:</p>

                <p style="font-size: 1.4em">If you don't agree that <strong>The Scrum vs Kanban Crash Course</strong>
                is the best training<br /> in its class, then I will refund your money.</p>

                <p>To be crystal clear:</p>

                <p style="font-size: 1.4em"><strong>100% Money-back guarantee. No questions asked</strong>.</p>

           </div>
           
        </div>
          
    </section>


    <section class="grid-container fluid blue">

        <div class="row">
            <div class="large-12 columns">
                <h1>Ready to become an Agile Inside Out Insider?</h1>
            </div>
        </div>


        <div class="row">
            <div class="large-3  small-centered columns">
                <p style="text-align:center">
                    The <strong>Agile Inside Out</strong> Insiders are ready and waiting to meet you!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="large-3 small-centered columns">
                <p style="text-align:center">
                    {% include('aio-buttons.html') %}
                </p>
            </div>
        </div>

    </section>




    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Bonus 1 - The Scrum vs Kanban Cheat Sheet</h1>
            </div>
        </div>


        <div class="grid-x">

            <div class="large-2 large-offset-3 small-centered cell">
                <p style="text-align:center">
                    <img src="/images/cheatsheets/scrum-kanban-333.png" height="218" width="333">
                </p>
            </div>
            <div class="large-4  small-centered cell">

                <p>Chances are you already have a copy of the <strong>Scrum vs Kanban Cheat Sheet</strong>, but I've put an up-to-date
                version into the course - so that you'll always know where to find it.</p>

           </div>

          

    </section>


    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>Bonus 2 - My Scrum and Kanban Resource List</h1>
            </div>
        </div>


        <div class="grid-x">

            <div class="large-2 large-offset-3 small-centered cell">
                <p style="text-align:center">
                    <img src="/images/cheatsheets/resources-333.png" height="218" width="333">
                </p>
            </div>

            <div class="large-4  small-centered cell">
                <p>My hope is that this course will whet your appetite to learn more about Scrum, or Kanban, or both.</p>
                <p>So I've created a <strong>list of resources</strong> - my go-to videos, documents and websites.</p>
                <p>&nbsp;</p>    
                <p><strong>IMPORTANT:</strong> I've <em>never</em> shared this list before: <strong>it's only available inside this course!</strong></p>

           </div>

        </div>

        <div class="grid-x">
            <div class="cell small-centered">
            </div>
        </div>
          
    </section>





{% set faqs = {
    
    1: {'q': 'How long do I have access to the course?', 'a': 'You will have lifetime access to the course.'},
    10: {'q': 'How is the course delivered?', 'a': 'The course "lives" on my "fancy course platform".'},

    20: {'q': 'Is it just videos?', 'a': 'Not quite: each lesson consists of a video followed by a short quiz.'},
    30: {'q': 'Wait! What? <em>A short quiz?</em>', 'a': "Don't worry: nothing too taxing. The quizzes are there to ensure that you're learning as well as enjoying the show."},
    40: {'q': 'Are the lesson videos already on YouTube?', 'a': "No. This course is more - <em>much more</em> - than a re-hash of videos from YouTube."},
    50: {'q': 'Do the lessons contain clips I may have seen on YouTube?', 'a': "Yes. YouTube is a fabulous testing ground for videos: the course features clips from my most popular YouTube videos - videos that have been viewed tens of thousands of times!"},
   
    60: {'q': 'Is the course self-paced?', 'a': 'Yes it is. And my "fancy course platform" makes it easy for you to pick up where you left off.'}
    }   
%}

    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-3 large-offset-2 small-centered columns">

                {% for faq in faqs %}
                    <h3>{{ faq.q | raw }}</h3>
                    <p>{{ faq.a | raw }}</p>
                {% endfor %}

           </div>
        </div>
          

    </section>



    <section class="grid-container fluid white">


        <div class="row">
            <div class="large-3 small-centered columns" style="text-align:center" >

                <p style="font-size: 2em; padding:1.6em">So there it is: <strong>The Scrum vs Kanban Crash Course</strong> <br />- everything I wish I’d known 8 years ago when I joined a team that was "doing Agile".</p>

                <p style="font-size: 2em; padding:0 0 1.6em 0">Are you ready get up to speed with Scrum and Kanban?</p>
        

                {# <img src="/images/courses/svk-ready.png" /> #}

                <p style="text-align:center">
                    {% include('aio-buttons.html') %}
                </p>

           </div>
        </div>
          
    </section>



{% endblock %}

