{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block noindex %}
    <meta name="robots" content="noindex" />
{% endblock %}


{% block body %}


<section class="grid-container fluid white">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>Courses</h1>
        </div>
    </div>
</section>


{# 
    {% for key, course  in courses %}
        <section class="grid-container fluid {{ cycle(['white','grey'],loop.index) }}">
          
            <div class="grid-x align-center">
                <div class="cell medium-8">
                    <h2><a href="/courses/{{ key }}">{{ course.title }}</a></h2>
                </div>
            </div>

            <div class="grid-x align-center">
                <div class="cell medium-4">
                    <p>
                        <a href="/courses/{{ key }}"><img src="/images/courses/{{ key }}-333.png" height="218" width="333" /></a>
                    </p>
                </div>
                <div class="cell medium-4">
                    <p>{{ course.intro }}</p>
                    <p><a href="/courses/{{ key }}">More info...</a></p>
                </div>
            </div>
        </section>
    {%  endfor %} #}


{# Let's go for a hand-crafted version #}
 
    <section class="grid-container fluid grey">
        
        <div class="grid-x align-center">
            <div class="cell medium-8">
                 <h2>New to Agile?</h2>
            </div>
        </div>

        <div class="grid-x align-center">
            <div class="cell medium-4">

        
                <p>
                    <a href="/courses/scrum-vs-kanban"><img src="/images/courses/scrum-vs-kanban-333.png" height="218" width="333" /></a>
                </p>
            </div>
            <div class="cell medium-4">
                <p></p>
                <p><a href="/courses/scrum-vs-kanban">Learn more</a></p>
            </div>
        </div>
    </section>


      <section class="grid-container fluid white">
        
        <div class="grid-x align-center">
            <div class="cell medium-8">
                 <h2>More experienced?</h2>
            </div>
        </div>

        <div class="grid-x align-center">
            <div class="cell medium-4">

        
                <p>
                    <a href="/courses/estimating"><img src="/images/courses/estimating-333.png" height="218" width="333" /></a>
                </p>
            </div>
            <div class="cell medium-4">
                <p></p>
                <p><a href="/courses/estimating">More info...</a></p>
            </div>
        </div>


        <div class="grid-x align-center">
            <div class="cell medium-4">

                <p>
                    <a href="/courses/scrumban-blueprint"><img src="/images/courses/scrumban-blueprint-333.png" height="218" width="333" /></a>
                </p>
            </div>
            <div class="cell medium-4">
                <p></p>
                <p><a href="/courses/scrumban-blueprint">More info...</a></p>
            </div>
        </div>

    </section>

{#

    <section class="grid-container fluid white">
        
        <div class="grid-x align-center">
            <div class="cell medium-8">
                 <h2>Hate estimating?></h2>
            </div>
        </div>

        <div class="grid-x align-center">
            <div class="cell medium-4">

                <p>If you're not a fan of estimating, you're not alone: whenever I ask my audience...

                "estiamting" is always at the top of the list.</p>


                <p>Status: closed
                <p>Planned opening date: ???

                Get on the waiting list.


                <p>
                    <a href="/courses/{{ key }}"><img src="/images/courses/estimating-333.png" height="218" width="333" /></a>
                </p>
            </div>
            <div class="cell medium-4">
                <p>{{ course.intro }}</p>
                <p><a href="/courses/estimating">More info...</a></p>
            </div>
        </div>
    </section>



    <section class="grid-container fluid white">
        
        <div class="grid-x align-center">
            <div class="cell medium-8">
                 <h2>Struggling with Scrum?></h2>
            </div>
        </div>

        <div class="grid-x align-center">
            <div class="cell medium-4">

                <p>What is Scrumban?</p>

                <p>Is it an Agile Framework.</p>




                <p>
                    <a href="/courses/{{ key }}"><img src="/images/courses/scrumban-333.png" height="218" width="333" /></a>
                </p>
            </div>
            <div class="cell medium-4">
                <p>{{ course.intro }}</p>
                <p><a href="/courses/{{ key }}">More info...</a></p>
            </div>
        </div>
    </section> #}


{# 
    <section class="grid-container fluid grey">
        
        <div class="grid-x align-center">
            <div class="cell medium-8">
                 <h2>Responsible for a team?</h2>
            </div>
        </div>

        <div class="grid-x align-center">
            <div class="cell medium-4">

                <p><strong>Agile Inside Out</strong> - the membership community from Development That Pays.</p>

                {# <p>We'll be opening the doors again in October.</p>

                <p>In the meantime... get on the waiting list! 

                <p>You're in luck!</p>

                <p>The doors to <strong>Agile Inside Out</strong> are now open.</p>

                <p>
                    <a href="/courses/"><img src="/images/courses/agile-inside-out-333.png" height="218" width="333" /></a>
                </p>
            </div>
            <div class="cell medium-4">
                <p><a href="https://community.developmentthatpays.com/plans/64665?bundle_token=8d98dea382977a6f4f218ce92189b31d&utm_source=manual">More info...</a></p>
            </div>
        </div>
    </section>  #}


{% endblock %}

