{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Here Is Your Free Video:<br />
            Three Top Jira Tips From Inside the Dev Teams Of<br /> Three Top Companies</h1>
        </div>
    </div>


    <div class="row">

        <div class="large-12 columns">

            <iframe width="853" height="480" src="https://www.youtube.com/embed/EHoyDH1cYwM" frameborder="0" allowfullscreen></iframe>

        </div>


    </div>
</section>


{% endblock %}
