{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <img src="/images/logo.png" alt="Development That Pays" />
    </div>
{% endblock %}

{% block body %}

    <section class="grid-container fluid white">
       <div class="grid-x align-center">
            <div class="cell medium-8">
                <h1>Helping <strong>you</strong>,<br />
                 your <strong>team</strong><br />
                and your <strong>organisation</strong><br />
                to unlock the power of 
                 <strong>Agile</strong></h1> 

                 {# <h1>Cutting-edge strategies for <strong><em>profitable</em></strong>
                 software development</h1> #}
            </div>
        </div>
    </section>

{# 
    <section class="grid-container fluid blue">
       <div class="grid-x align-center">
            <div class="cell medium-8" style="text-align:center">

                {# <p style="font-size:1.6em; line-height: 1.2em; padding-top:0; margin-top:0; padding-bottom:0; margin-bottom:0">
                It's <em>OPEN!</em> 
                </p> 


                <p style="font-size:3em; line-height: 1em; padding-top:0em; margin-top:0em; padding-bottom:0; margin-bottom:1em">
                    Discover the cure for Agile frustration<br />
                    - for you and for your team
                </p>
                
                <p><img src="/images/courses/aio-doors-open.png" />
                
                {# <p style="font-size:1.6em; line-height: 1em; padding-top:0.4em; margin-top:.5em; padding-bottom:0; margin-bottom:0">
                   the Membership Community
                    from Development That Pays</span>
                </p> #}

                {# <p style="font-size:1.6em; line-height: 1.4em; padding-top:0; margin-top:2em; padding-bottom:0; margin-bottom:0">
                    If you're a Scrum Master, an Agile Coach
                    <br /> - or if you have responsibility for an Agile team - 
                    <br /><strong>this training is for you</strong>.
                </p> 

                <p style="text-align:center; margin-top: 3em">
                    <a href="https://community.developmentthatpays.com/plans/64665?bundle_token=8d98dea382977a6f4f218ce92189b31d&utm_source=manual" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">More info</a>    
                </p>

                <p style="font-size:1.6em;margin-top:2em">
                    Hurry: doors close on <br />
                    <strong>TUESDAY 20 OCTOBER 2020</strong>
                </p>

            </div>

        </div>

    </section> #}


{# 
    <section class="grid-container fluid blue">
       <div class="grid-x align-center">
            <div class="cell medium-8" style="text-align:center">

                <p style="font-size:1.6em; line-height: 1.2em; padding-top:0; margin-top:0; padding-bottom:0; margin-bottom:0">
                Free <em>LIVE!</em> Training Event
                </p>
                <p style="font-size:3em; line-height: 1em; padding-top:0.4em; margin-top:.5em; padding-bottom:0; margin-bottom:0">
                    3 Common Mistakes That Are <br />
                    <span style="text-decoration:underline">Killing</span> Your Agile Team
                </p>

                <p style="font-size:2.5em; line-height: 1em; padding-top:0.4em; margin-top:0.7em; padding-bottom:0; margin-bottom:0">
                    (And 7 Steps To Put Things Right)
                </p>
                                


                <p style="font-size:1.6em; line-height: 1.4em; padding-top:0; margin-top:2em; padding-bottom:0; margin-bottom:0">
                    If you're a Scrum Master, an Agile Coach
                    <br /> - or if you have responsibility for an Agile team - 
                    <br /><strong>this training is for you</strong>.
                </p>


               

                <p style="text-align:center; margin-top: 3em">
                    <a href="https://event.webinarjam.com/register/6/343g7tw" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Save Your Spot!</a>    
                </p>

                <p style="font-size:1.6em;margin-top:2em">
                    Hurry: this training is happening on <br />
                    <strong>TUESDAY 13 OCTOBER 2020</strong>
                </p>
            </div>

        </div>

    </section> #}


    {# <section class="grid-container fluid blue">
       <div class="grid-x align-center">
            <div class="cell medium-8" style="text-align:center">

                <p style="font-size:3em; line-height: 1.2em; padding-top:0; margin-top:0; padding-bottom:0; margin-bottom:0">Are You</p>
                <p style="font-size:1.6em; line-height: 1.2em; padding-top:0; margin-top:0; padding-bottom:0; margin-bottom:0">A Scrum Master, Agile Coach, 
                <br />Project Manager or Programme Manager?</p>
                <p style="font-size:3em; line-height: 1em; padding-top:0.4em; margin-top:0; padding-bottom:0; margin-bottom:0">Is There Too Much
                <br /><span style="color:red; font-weight: bolder">FRUSTRATION</span></p>
                <p style="font-size:1.6em; line-height: 1em; padding-top:0.4em; margin-top:0; padding-bottom:0; margin-bottom:0">In Your Agile World?</p>

                <p>&nbsp;</p>
                <p style="">If so, I have something for you:</p>
                <p > A brand new - FREE! - Video Workshop: <strong>The Agile Inside Out Blueprint</strong></p>

                <p style="text-align:center; margin-top: 3em">
                    <a href="/agile-inside-out" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Grab Your Spot!</a>    
                </p>

                <p>Hurry: this free Video Training goes away at the end of the month!</p>
            </div>

        </div>

    </section> #}

    <section class="grid-container fluid grey">
       <div class="grid-x align-center">
            <div class="cell medium-8">
                <h1>New to Agile? Start here!</h1>
            </div>
       <div class="grid-x align-center">
            <div class="cell medium-8">

                <p style="text-align:center">Get up to speed with <strong>Scrum</strong> and 
                    <strong>Kanban</strong> in the shortest possible time with this <em>super-concentrated</em> course. 
                </p>

                <p style="text-align:center; margin-top: 0">
                    <a href="/courses/scrum-vs-kanban">  
                        <img width="666" height="368" src="/images/courses/scrum-vs-kanban-666.png" />
                    </a>  
                </p>

                <p style="text-align:center; margin-top: 3em">
                    <a href="/courses/scrum-vs-kanban" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Full details</a>    
                </p>

                <p style="text-align:center; margin-top: 0">
                    <a href="/courses">  
                        More courses...
                    </a>  
                </p>


            </div>

        </div>

    </section>


    <section class="grid-container fluid white">
        <div class="grid-x align-center">
            <div class="cell medium-8"> 
                <h1>Grab a Cheat Sheet</h1>
            </div>
        </div>
        <div class="grid-x align-center posts">
            {%  for id, cheatsheet in cheatsheets | slice(0, 3) %}
                <div class="cell large-3">
                    <img src="/images/cheatsheets/{{ id }}-333.png" width="333" height="187" />
                    <p style="text-align: center; margin-top: 2em">

                        <a href="/cheatsheets/{{ cheatsheet.link }}"  class="drip-button green"  >Click here!</a>

                        {# {{ include("forms/drip-form.html", {bigButton: "Click here", buttonColor: "green", formId: cheatsheet.drip, formTitle: cheatsheet.formTitle, callToAction: cheatsheet.callToAction}) }} #}


                    </p>
                </div>
            {% endfor %}
        </div>


        <div class="grid-x align-center">
            <div class="cell medium-9"> 
            <div class="row " style="text-align: center; margin-top: 2em">
                <p><a href="/cheatsheets">More Cheat Sheets...</a></p>
            </div>
        </div>

    </section> 





    <section class="grid-container fluid grey">
       <div class="grid-x align-center">
            <div class="cell medium-8">
                <h1>Ready for the next step?</h1>
            </div>
       <div class="grid-x align-center">
            <div class="cell medium-8">

                <p style="text-align:center">
                    These full-blown courses were designed from the ground up
                    to take you to the next level in shortest possible time. 
                </p>

            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">

                <div class="cell large-6">
                    <a href="/courses/estimating">  
                        <img src="/images/courses/estimating-333.png" height="218" width="333">
                    </a>
                    <p style="text-align: center; margin-top: 2em">
                        <a href="/courses/estimating"  class="drip-button green"  >More info...</a>
                    </p>
                </div>


                <div class="cell large-6">
                    <a href="/courses/scrumban-blueprint">  
                        <img src="/images/courses/scrumban-blueprint-333.png" height="218" width="333">
                    </a>
                    <p style="text-align: center; margin-top: 2em">
                        <a href="/courses/scrumban-blueprint"  class="drip-button green"  >More info...</a>
                    </p>
                </div>

{# 


                <p style="text-align:center">Get up to speed with <strong>Scrum</strong> and 
                    <strong>Kanban</strong> in the shortest possible time with this <em>super-concentrated</em> course. 
                </p>

                <p style="text-align:center; margin-top: 0">
                    <a href="/courses/scrum-vs-kanban">  
                        <img width="666" height="368" src="/images/courses/scrum-vs-kanban-666.png" />
                    </a>  
                </p>

                <p style="text-align:center; margin-top: 3em">
                    <a href="/courses/scrum-vs-kanban" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Full details</a>    
                </p>

                <p style="text-align:center; margin-top: 0">
                    <a href="/courses">  
                        More courses...
                    </a>  
                </p> #}


            </div>

        </div>

    </section>




    <section class="grid-container fluid white">
        <div class="grid-x align-center">
            <div class="cell medium-9"> 
                <h1>Watch a Video</h1>
            </div>
        </div>
            
        {% for row in posts|batch(3, 'No item') %}
            <div class="grid-x align-center posts grid-padding-x">
                {%  for id, post in row %}
                    {% if post.title is defined and date(post.date) <= date() %}
                        {%   set slug = id  ~ '-' ~ post.slug %}
                        <div class="cell medium-3"> 
                            <a href="{{ app.url_generator.generate('post', { slug: slug }) }}">
                                <img src="/images/episode{{ id }}_333.png" width="333" height="187" />
                            </a>
                            <h3><a href="{{ app.url_generator.generate('post', { slug: slug }) }}">{{ post.title  }}</a></h3>
                            {#<p>Episode {{ post.index }} - {{ post.date|date("d M Y") }}</p>#}
                            {#{{ post.description | markdown }}#}
                            {#<a href="{{ app.url_generator.generate('post', { slug: slug }) }}">#}
                                {#Read more...#}
                            {#</a>#}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <div class="grid-x align-center">
            <div class="cell medium-9"> 
            <div class="row " style="text-align: center; margin-top: 2em">
                <p><a href="/blog">More Episodes...</a></p>
            </div>
        </div>

    </section>


{# 
    <section class="grid-container fluid grey">

        <div class="row">
            <div class="large-12 columns">
                <h1>Is your Software Development Process working?</h1>
            </div>
        </div>



        <div class="row">

            <div class="large-4 columns">
                <p>Are you frustrated by the output of your development team?</p>
            </div>

            <div class="large-4 columns">
                <p>Do you feel that the development team should be more business-oriented?</p>
            </div>

            <div class="large-4 columns">
                <p><strong><em>"Development That Pays" is here to help!</em></strong></p>
            </div>
        </div>

    </section>

    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>What is "Development That Pays"?</h1>
            </div>
        </div>


            <div class="large-8 large-centered columns" >
                <p style="text-align:center"><strong>Development That Pays</strong> is a weekly video that takes a business-focused
                    look at what's working now in software development.</p>
                <p style="text-align:center">It features lessons learned from <strong>inside</strong> the software development teams of companies such as
                    <strong>The Economist</strong>, <strong>Sainsbury's</strong> and <strong>BBC Worldwide</strong>.</p>
            </div>

            {#<div class="large-4 columns">#}

                {#{% set slug = "1-software-development-frustration" %}#}

                {#<a href="{{ app.url_generator.generate('post', { slug: slug }) }}">#}
                    {#<img src="/images/episode1_333.png" width="333" height="187" />#}
                {#</a>#}

            {#</div>#}
  {#      </div>

        <div class="row">
            <div class="large-12 columns">
                &nbsp;
            </div>
        </div>


    </section>





<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns">
            <h1>Who is it for?</h1>
        </div>
    </div>


    <div class="row">

        <div class="large-6 columns">
            <p>Anyone with <strong>financial</strong> responsibility for software development:</p>
            <ul>
                <li><strong>Business Owners</strong></li>
                <li><strong>CTOs</strong></li>
                <li><strong>Product Owners</strong></li>
            </ul>
        </div>

        <div class="large-6 columns">
            <p>Anyone with <strong>day-to-day</strong> responsibility for software development:</p>
            <ul>
                <li><strong>Project Managers</strong></li>
                <li><strong>Product Managers</strong></li>
                <li><strong>Lead Developers</strong></li>
            </ul>
        </div>

    </div>
</section>



<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Meet Gary</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">

            <p>I'm Gary Straughan, the author of <strong>Development That Pays</strong>.</p>

            <p>With a background in both <strong>Industrial Marketing</strong> <em>and</em> <strong>Software Development</strong>,
                I have a unique perspective:</p>
            <p><strong><em>I see software development through "business eyes"</em></strong>.</p>

            <ul>
                <li>I'm <strong>not</strong> interested in software for its own sake.</li>
                <li>I <strong>am</strong> interested in software that <strong>achieves real business goals</strong>.</li>
            </ul>

            <p>I'm fascinated by what works and what doesn't in software development; that's what <strong>Development That Pays</strong> is all about.</p>

        </div>
        <div class="large-4 columns" style="text-align:center">
            <img src="/images/gary-gemini2.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            &nbsp;
        </div>
    </div>

</section> #}




{% endblock %}
