{% extends 'base.html.twig' %}


{% block logo %}
    {#<div class="grid-container fluid logo" >#}
        {#<div class="large-12 columns">#}
            {#<img src="/images/logo.png" alt="Development That Pays" />#}
        {#</div>#}
    {#</div>#}
{% endblock %}


{% block body %}


<section class="grid-container fluid" style="padding: 20px 0; background: #97D454; text-align: center">
    <div class="row">

        <div class="large-5 large-centered columns">

            <h2>Never miss an episode</h2>

            <h3>Sign up for "Development That Pays" - delivered direct to your inbox every week.</h3>

            {% embed 'subscribe-form.html.twig' %}
            {% endembed  %}

        </div>
    </div>
</section>



<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns">
            <h1>What is it?</h1>
        </div>
    </div>


    <div class="row">

        <div class="large-8 columns">

            <p><strong>Development That Pays</strong> is a weekly video that takes a business-focussed
                look at what's working now in software development.</p>
            <p>It features lessons learned from <strong>inside</strong> the developments teams of companies such as
                <strong>The Economist</strong>, <strong>British Gas</strong>, <strong>BBC Worldwide</strong>.</p>

        </div>

        <div class="large-4 columns">
            <img src="/images/video-icon.png" />
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            &nbsp;
        </div>
    </div>


</section>



<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>Who is it for?</h1>
        </div>
    </div>


    <div class="row">

        <div class="large-4 columns">

            <h3>Business Owners and Product Owners</h3>




            <p><strong>Development That Pays</strong> is for anyone with accountability for software development:</p>
            <ul>
                <li>Business Owners</li>
                <li>Product Owners</li>
            </ul>
        </div>

        <div class="large-4 columns">

            <h3>Product Managers, Scrum Masters</h3>

            <p><strong>Development That Pays</strong> may also be of interest to:</p>
            <ul>
                <li>Product Managers</li>
                <li>Scrum Masters</li>
                <li>Lead Developers</li>
            </ul>
        </div>



        <div class="large-4 columns">

            <h3>Lead Developers</h3>

            <p><strong>Development That Pays</strong> may also be of interest to:</p>
            <ul>
                <li></li>
                <li>Lead Developers</li>
            </ul>
        </div>
    </div>
</section>



<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns">
            <h1>Poacher turned Gamekeper</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">



            <p>I'm Gary Straughan, the author of <strong>Development That Pays</strong>.</p>

            <p>By trade, I'm a software developer. But software development is actually my <em>second</em> career: previously,
            I spent more than a decade in Industrial Product Management and Marketing.</p>

            <p>This rather usual career path gives me a unique perspective: <strong>I see software development through "business eyes"</strong>.</p>

            <ul>
                <li>I'm <strong>not</strong> interested in software for its own sake.</li>
                <li>I <strong>am</strong> interested in software that achieves real business goals.</li>
                <li>And I'm <strong>fascinated</strong> by what works and what doesn't in software development.</li>
            </ul>

            <p>That's what <strong>Development That Pays</strong> is all about.</p>

        </div>
        <div class="large-4 columns">
            <img src="/images/gary2.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            &nbsp;
        </div>
    </div>

</section>





    <section class="grid-container fluid" style="padding: 20px 0; background: #97D454">
        <div class="row">

            <div class="large-7 columns">
                <h1>Get Your Weekly "Development That Pays" Video - FREE!</h1>
            </div>

            <div class="large-5 columns">



                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">

                    <form action="//brainboxweb.us7.list-manage.com/subscribe/post?u=6bc05d0fb96e4042a25b04e5f&amp;id=ab873f7cec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name </label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_6bc05d0fb96e4042a25b04e5f_ab873f7cec" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Get Development That Pays" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
        </div>
    </section>



{% endblock %}
