

<section class="grid-container fluid" style="padding: 20px 0; background: #97D454">
    <div class="row">

        <div class="large-7 columns" style="margin-top:15px">
            <h3>{% block calltoaction %}
                    Does Your Business Depend On Software Development? Get Weekly Advice For Improving the Profitability of Your Software Development Output.
                {% endblock %}</h3>
        </div>

        <div class="large-5 columns">

            {% embed 'subscribe-form.html.twig' %}
            {% endembed  %}

        </div>
    </div>
</section>