{% extends 'base.html.twig' %}
{% block body %}

<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns">
            <h1>{{ page.title }}</h1>
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            {{ page.body | markdown }}
        </div>
    </div>

</section>

{% embed 'mailchimp.html.twig' %}

    {% block calltoaction %}
        Get Your Weekly "Development That Pays" Video - FREE!
    {% endblock %}

{% endembed  %}


{% endblock %}


