{% extends 'base.html.twig' %}

{%  set width=853 %}
{%  set height=480 %}


{% block head %}
    {{ parent() }}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:image" content="http://img.youtube.com/vi/{{ post.youtubedata.id }}/maxresdefault.jpg" />
{% endblock %}



{% block body %}


    {% set parts = slug|split('-') %}
    {% set index = parts[0] %}


    

<section class="grid-container fluid grey" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1 itemprop="name">{{ page.title }}</h1>
        </div>

        <div class="cell medium-8">
            <div class="flex-video">
                <meta itemprop="description" content="{{ post.description }}" />
                <meta itemprop="thumbnailUrl" content="http://img.youtube.com/vi/{{ post.youtubedata.id }}/maxresdefault.jpg" />
                <meta itemprop="contentURL" content="https://www.youtube.com/watch?v={{ post.youtubedata.id }}" />
                <meta itemprop="embedURL" content="https//www.youtube.com/embed/{{ post.youtubedata.id }}" />
                <meta itemprop="uploadDate" content="{{ post.date|date('Y-m-d\\TH:i:sP') }}" />
                <meta itemprop="height" content="{{ width }}" />
                <meta itemprop="width" content="{{ height }}" />
                <iframe width="{{ width }}" height="{{ height }}" src="https://www.youtube.com/embed/{{ post.youtubedata.id }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="grid-container fluid white">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <p>Episode {{ index }} - {{ post.date|date("d M Y") }}</p>
            {{ post.body|markdown }}
        </div>
    </div>
</section>

<section class="grid-container fluid grey">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            {{ post.transcript|markdown }}
        </div>
    </div>
</section>

<section class="grid-container fluid white"> 
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <p>Watch "<a href="https://www.youtube.com/watch?v={{ post.youtubedata.id }}">{{ page.title }}</a>" on YouTube.</p>
        </div>
    </div>
</section>


{% endblock %}
