<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">

    {% for page in pages %}
        <url>
            <loc>https://www.developmentthatpays.com/{{ page }}</loc>
        </url>
    {% endfor %}

    {% for cheatsheet, _ in cheatsheets %}
        <url>
            <loc>https://www.developmentthatpays.com/cheatsheets/{{ cheatsheet }}</loc>
        </url>
    {% endfor %}

    {% for course, _ in courses %}
        <url>
            <loc>https://www.developmentthatpays.com/courses/{{ course }}</loc>
        </url>
    {% endfor %}

    {% for slug, post in posts %}

        {% if post.title is defined and date(post.date) <= date() %}

            <url>
                <loc>https://www.developmentthatpays.com{{ app.url_generator.generate('post', { slug: slug }) }}</loc>
                <video:video>

                    <video:title>{{ post.title }}</video:title>
                    <video:description>{{ post.description }}</video:description>

                    <video:content_loc>https://www.youtube.com/watch?v={{ post.youtubedata.id }}</video:content_loc>
                    <video:player_loc allow_embed="yes" autoplay="ap=1">https://www.youtube.com/embed/{{ post.youtubedata.id }}</video:player_loc>

                    <video:thumbnail_loc>http://img.youtube.com/vi/{{ post.youtubedata.id }}/maxresdefault.jpg</video:thumbnail_loc>

                    <video:publication_date>{{ post.date|date('Y-m-d\\TH:i:sP') }}</video:publication_date>
                    <video:family_friendly>yes</video:family_friendly>

                    <video:gallery_loc title="Development That Pays Videos">https://www.developmentthatpays.com/blog</video:gallery_loc>
                    <video:live>no</video:live>
                </video:video>
            </url>

        {% endif %}
    {% endfor %}

</urlset>