

<!-- defensive code -->
{% if anchorlink is not defined %}
    {% set anchorlink = false %}
{% endif %}
{% if target is not defined %}
    {% set target = '' %}
{% endif %}




<!-- $17 offer  -->

{% if page.version is defined and page.version=='offer' %}

    <a href="#" style="text-decoration: line-through; margin-bottom:1em; background: #666666;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Enroll Now with a one-time payment of $37</a></span><br />
    <a href="https://community.developmentthatpays.com/users/onboarding/choose_plan?plan_id=73089&utm_source=svk-offer" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Enroll Now with a one-time payment of $17</a><br />                
    <img src="/images/courses/svk-limited-time.png" />


    
{% else %}

    <!-- The main $37 offer -->
    {% set  external_url = "https://community.developmentthatpays.com/users/onboarding/choose_plan?plan_id=73497" %}
    {% set  internal_url = "https://community.developmentthatpays.com/plans/52118/buy?plan_id=59477" %}
    

    {% if anchorlink is defined and anchorlink is sameas(true) %}
        {% set url = "#cta" %}
    {% else %}    
        {% if target is defined and target == 'mn'  %}
            {% set  url = internal_url %}
        {% else %} 
            {% set  url = external_url %}
        {% endif %}
    {% endif %}

        <a href="{{ url }}"  onclick="getOutboundLink('{{ url }}'); return false;"  style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">
            <span style="font-size: 2em">I'M READY TO BUY!</span><br />
            Get instant access when you get started today
        </a>

        {% if anchorlink is sameas(false) and target != 'mn' %}
            <p style ="margin-top: 2em;"><em>IMPORTANT</em>:<br /> Already a member of the Development That Pays Community?<br /> <a href="{{ internal_url  }}">Use this link instead</a>. </p>
        {% endif  %}

{% endif %}
     

{# MAY be needed for an experiment #}
<script>
    /**
    * Function that registers a click on an outbound link in Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label. Setting the transport method to 'beacon' lets the hit be sent
    * using 'navigator.sendBeacon' in browser that support it.
    */
    var getOutboundLink = function(url) {
      gtag('event', 'click', {
        'event_category': 'outbound',
        'event_label': url,
        'transport_type': 'beacon',
        'event_callback': function(){document.location = url;}
      });
    }
</script>