{% extends 'base.html.twig' %}


{% block body %}


    <section class="grid-container fluid grey" >
    <div class="row">
        <div class="large-12 columns">
            <h1 itemprop="name">{{ page.title }}</h1>
        </div>
    </div>


    </section>

    <section class="grid-container fluid white">
        <div class="row" style="margin-top:40px">
            <div class="large-8 columns">
                {{ post.transcript|markdown }}
                <p><a href="/posts/{{ slug }}">Watch the video ->>></a></p>
            </div>
        </div>
    </section>


{% endblock %}
