{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid white">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>Your {{   page.title }} Cheat Sheet</h1>
        </div>
    </div>
    <div class="grid-x align-center">
        <div class="cell medium-8">

            <p>Here’s your <strong>{{  page.title }} Cheat Sheet</strong>:<p>
            <p style="text-align:center"> <strong>---&gt;</strong> <a href="{{ page.fullpath }}"><Your></Your> {{ page.title }} (PDF)</a> <strong>&lt;---</strong> </p>

            <ul>
                <li style="font-size:0.9em"><strong>Click</strong> the above link to <em>view</em>;</li>
                <li style="font-size:0.9em"><strong>Right click</strong> the link to <em>download</em> it to your computer.</li>
            </ul>
        </div>
    </div>
</section>

<section class="grid-container fluid grey">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h2>Getting the most out of your Cheat Sheet</h2>
            <p>Sure, it look good on your monitor. But the Cheat Sheet was born to be <em>printed</em>.</p>
            <p>And printed BIG! It will look great all the way up to A3/Tabloid/Ledger. At least!</p>


            <h2>Free Upgrades. For life!</h2>
            <p>This is not the first issue of the Cheat Sheet, and chances are it won’t be the last.</p>
            <p>Rest assured, the <em>moment</em> a new version is ready, you'll get a new copy by email.</p>


            {% if  page.feedback is defined %}
            <h2>Spotted something? Let me know!</h2>
            <p>Like all <strong>Development That Pays</strong> Cheat Sheets, this one has improved over time - thanks to people just like you!</a>
            <ul>
                <li>If you notice an mistake...</li>
                <li>If spot an a typo...</li>
                <li>If you have a suggestion for improvement...</li>
            </ul>
            <p>  --&gt; <a href="{{ page.feedback }}">I want to hear from you!</a></p>
            <!-- Need one per Cheat Sheet -->
            {% endif %}

            <!--
            <h2>Like Cheat Sheets? Try these!</h2>
            <!-- This is where dynamic would be good --><!--
            <p></p>
            <ul>
                <li><a href="">Agile vs Waterfall</a></li>
                <li><a href="">Scrum vs Kanban</a></li>
            </ul>
            -->
        </div>
    </div>
</section>

<section class="grid-container fluid white">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h2>Didn’t find what you were looking for?</h2>
            <p>I’m always on the lookout for good Cheat Sheet ideas, so <strong>if you have a suggestion for a new one</strong>, I want to hear it!<p>
            <p>  --&gt; <a href="https://www.surveymonkey.co.uk/r/G3GWKKM">Let me know your idea</a>.</p>

        </div>
    </div>

</section>

{% endblock %}
