{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}


    <section class="grid-container fluid white">

        <div class="row">
            <div class="large-12 columns">
                <h1>Grab Yourself a Cheat Sheet!</h1>

                <p>Produced in collaboration with the Development That Pays community, these <strong>Cheat Sheets</strong>
                    are a goldmine of information.</p>
            </div>
        </div>

    </section>


    {% for key, cheatsheet  in cheatsheets %}
        <section class="grid-container fluid {{ cycle(['white','grey'],loop.index) }}">
            <div class="row">
                <div class="large-8 large-offset-2 columns" >
                    <h2>{{ cheatsheet.title }}</h2>

                </div>
                <div class="large-4 large-offset-2 columns" >
                    <p>
                        <a href="{{ cheatsheet.triggerlink }}"><img src="/images/cheatsheets/{{ key }}-333.png" height="218" width="333" /></a>
                    </p>
                </div>
                <div class="large-6 columns" >
                    <p>{{ cheatsheet.intro }}</p>
                    <p>Grab your <a href="{{ cheatsheet.triggerlink }}">{{ cheatsheet.title }} Cheat Sheet NOW!</a></p>
                </div>
            </div>
        </section>
    {%  endfor %}

    <section class="grid-container fluid" style="background: #97D454">

        <div class="row">
            <div class="large-8 large-offset-2 columns" >

                <h2>Didn’t find what you were looking for?</h2>
                <p>I’m always on the lookout for good Cheat Sheet ideas, so <strong>if you have a suggestion for a new one</strong>, I want to hear it!<p>
                <p>  --&gt; <a href="https://www.surveymonkey.co.uk/r/G3GWKKM">Let me know your idea</a>.</p>

            </div>
        </div>

    </section>


{% endblock %}
