{% extends 'base.html.twig' %}

{% block nav %}
<div class="grid-container fluid fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Development That Pays</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
    </nav>
</div>
{%  endblock %}
{% block logo %}{% endblock %}


{% block footer %}

    <section class="grid-container fluid white">
        <div class="row">
            <div class="large-8 large-offset-2 columns" >
                <footer>
                    Copyright © 2015-{{ "now"|date("Y") }} Development That Pays. All rights reserved. | <a href="/privacy-policy">Privacy policy</a>
                </footer>
            </div>
        </div>
    </section>

{% endblock %}


