{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'Welcome to Agile Inside Out'}) %}

{% set page = page|merge({'metatitle': 'Welcome to Agile Inside Out'}) %}
{% set page = page|merge({'metadescription': 'Welcome to Agile Inside Out'}) %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}



    <section class="grid-container fluid blue">
        <div class="row">
            <div class="large-12 columns">
                <h1 style="font-size: 3em; margin:0; padding:0">You're in!</h1>
                <h2 style="text-align:center; margin-top:0; padding-top:0">Welcome to Agile Inside Out!</h2>
            </div>
        </div>
    </section>


    <section class="grid-container fluid white">

        <div class="row">

            <div class="large-8 large-offset-2 columns">

                <p>Welcome aboard - you're now officially a member of <strong>Agile Inside Out</strong>!</p>

                <p>First things first, a tiny bit of housekeeping:</p>

                <p>If everything thing has gone to plan, <strong>three emails</strong> are on their way to you:</p>
                
                <ol>   
                    <li>A welcome email </li>
                    <li>Your invoice</li>
                    <li>Your invitation to the membership platform</li>
                </ol>

                <p>&nbsp;</p>

                <h3>Your welcome email</h3>
                    
                    <p>Look out for an email with the subject line:</p>

                    <ul><li><strong>Welcome to Agile Inside Out!</strong></li></ul>

                    <p>The email is essentially a repeat on the information on this page.</p>


                <h3>Your invoice</h3>

                <p>Look out for an email with the subject line:</p>

                    <ul><li><strong>Development That Pays: Invoice 000000XXX</strong></li></ul>
                        

                <h3>Your invitation to the membership platform</h3>

                <p>Look out for an email with this subject line:</p>

                    <ul><li><strong>Your invitation to join me in Agile Inside Out in Development That Pays, the Community</strong></li></ul>
                        
                <p>This one <span style="font-weight:bold; color:red">requires your attention</span>: here's what I need you to do:</p>

                <ol>
                    <li>At the bottom of the email, you'll find a big "Join me" button</li>
                    <li>Click the button</li>
                    <li>Follow the instructions...</li>
                </ol>

                <p>... and I look forward to seeing you on the inside!</p>

                <p>&nbsp;</p>

                <p>Gary<br />
                <strong>Founder of Development That Pays</strong></p>

                <p>&nbsp;</p>

                <p><strong>PS</strong> - If you encounter any problems, please don't hesitate <a href="mailto:gary.straughan@brainboxweb.co.uk">to get in touch</a>.


            </div>
        </div>

    </section>



{% endblock %}
