{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'My Crazy Scrumban idea'}) %}
{% set page = page|merge({'metatitle': 'My crazy Scrumban idea'}) %}
{% set page = page|merge({'metadescription': 'The Scrumban videos went down rather well. I have an idea to take things further...'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>You're on the list!</h1>
        </div>
    </div>



    <div class="grid-x align-center">
        <div class="cell medium-6">

            <p>Great news: you're on the waiting list for <strong>Beyond Story Points and Planning Poker</strong>.</p>

            <p>You'll be the <strong>first</strong> to know when the course opens for enrollment.</p>
            

            <p>
                <br />
                Gary<br />
                <strong>Founder of Development That Pays</strong>
            </p>

        </div>
    </div>

</section>








{% endblock %}
