{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'Dear EPAM...'}) %}

{% set page = page|merge({'metatitle': 'EPAM'}) %}
{% set page = page|merge({'metadescription': 'EPAM'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>{{ page.title }}<br />
            ... thanks for having me!</h1>
        </div>
    </div>



    <div class="grid-x align-center">
        <div class="cell medium-6">


            <p>Let's connect:</a>
            <ul>    
                <li><a href="https://www.youtube.com/developmentthatpays?sub_confirmation=1">Development That Pays on YouTube</a></li>
                <li><a href="https://www.developmentthatpays.com">Development That Pays (the website)</a></li>
                <li><a href="https://www.linkedin.com/in/garystraughan/">Me (!) on Linkedin</a></li>
            </ul>
            

            <h2>Agile Inside Out</h2>

            <p>Interested in learning more about the <strong>Agile Inside Out?</strong></p>
            <ul>
                <li>Jump in to this  <a href="https://www.developmentthatpays.com/agile-inside-out/ewrtwerty">free 4-part video training</a> (no opt-in required)</li>
                <li>Grab a copy of <a href="https://www.developmentthatpays.com/agile-inside-out/hjkghkghj">The Agile Inside Out Blueprint</a> (PDF)</li>
            </ul>
            

            <!--
            <p><strong>Agile Inside Out</strong> is closed for enrollment, but you can <a href="https://www.developmentthatpays.com/courses/agile-inside-out">get on the waiting list</a> here.</p>

        
            <h2>Other Courses</h2>

            <p>Waiting lists are also available for:</p>

            <ul>
                <li><a href="https://www.developmentthatpays.com/courses/scrumban-blueprint">The Scrumban Blueprint</a></li>
                <li><a href="https://www.developmentthatpays.com/courses/estimating">Agile Estimating and Planning - Beyond Story Points and Planning Poker</a></li>
            </ul>
            -->
        </div>
    </div>

</section>


{% endblock %}
