{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}

{% block body %}

<section class="grid-container fluid white">
    <div class="row">
        <div class="large-12 columns">
            <h1 style="margin-bottom: 0">Agile Estimating and Planning</h1>
            <h2 style="text-align: center; margin: 0 0 0em 0">3-Part Mini-Course</h2>


        </div>
    </div>
</section>


{#<section class="grid-container fluid grey" >#}
    {#<div class="row">#}
        {#<div class="large-12 columns">#}
            {#<h1 itemprop="name">Ready for the next step?</h1>#}

        {#</div>#}
    {#</div>#}
{#</section>#}

<section class="grid-container fluid blue" style="padding-bottom: 0em">
    <div class="row posts" >
        <div class="small-4 columns">
            <a href="#video">
                <img src="/images/courses/lesson1.png" width="333" height="187" />
            </a>
            <p>Lesson 1</p>
        </div>
        <div class="small-4 columns">
            {#<a href="https://www.youtube.com/watch?v=ZUzF9_cLEkY">#}
                <img src="/images/courses/lesson2-soon.png" width="333" height="187" />
            {#</a>#}
            <p>Lesson 2</p>
        </div>
        <div class="small-4 columns">
            {#<a href="https://www.youtube.com/watch?v=WgbQm1Ru0B8">#}
                <img src="/images/courses/lesson3-soon.png" width="333" height="187" />
            {#</a>#}
            <p>Lesson 3</p>
        </div>
    </div>
    {#<div class="row">#}
        {#<div class="large-12 columns" style="text-align: center">#}
            {#<p>And remember to grab your <a href="https://www.developmentthatpays.com/cheatsheets/agile-estimating">FREE Agile Estimating Cheat Sheet</a>.</p>#}
        {#</div>#}
    {#</div>#}



</section>
<section id="video" class="grid-container fluid grey" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
    <div class="row">
        <div class="large-12 columns">
            <h1 itemprop="name">Lesson One</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <div class="flex-video">
                <meta itemprop="description" content="Story Points are a cornerstone of Agile Estimating. But why do we even need them?">
                <meta itemprop="thumbnailUrl" content="http://img.youtube.com/vi/WVmM8YByt_A/maxresdefault.jpg">
                <meta itemprop="contentURL" content="https://www.youtube.com/watch?v=WVmM8YByt_A">
                <meta itemprop="embedURL" content="https//www.youtube.com/embed/WVmM8YByt_A">
                <meta itemprop="uploadDate" content="2018-04-11T16:00:00+01:00">
                <meta itemprop="height" content="853">
                <meta itemprop="width" content="480">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/WVmM8YByt_A" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

    {#<div class="row">#}
        {#<div class="large-12 columns" style="text-align: center; font-size: 3em">#}

            {#<div class="thinkific-product-card" data-btn-txt="Enroll now!" data-btn-txt-color="#ffffff" data-btn-bg-color="#569904" data-card-type="button" data-link-type="landing_page" data-product="299856" data-embed-version="0.0.2" data-store-url="https://courses.thinkific.com/embeds/products/show"><div class="iframe-container"></div><script type="text/javascript">document.getElementById("thinkific-product-embed") || document.write('<script id="thinkific-product-embed" type="text/javascript" src="https://assets.thinkific.com/js/embeds/product-cards-client.min.js"><\/script>');</script><noscript><a href="http://development-that-pays.thinkific.com/courses/beyond-story-points-and-planning-poker" target="_blank">Enroll now!</a></noscript></div>#}

        {#</div>#}
    {#</div>#}

</section>

{#<section class="grid-container fluid" style="padding: 20px 0; background: #97D454">#}
    {#<div class="row">#}
        {#<div class="large-7 columns">#}
            {#<h2>Get a reminder about the next video - direct to your mailbox:</h2>#}
        {#</div>#}
        {#<div class="large-5 columns">#}
            {#{% embed 'subscribe-form.html.twig' %}#}
            {#{% endembed  %}#}
        {#</div>#}
    {#</div>#}
{#</section>#}


{% endblock %}
