{% extends 'landing/_base.html.twig' %}


{% block body %}



    <section class="grid-container fluid blue">
        <div class="row">
            <div class="large-12 columns">
                <h1 style="font-size: 3em; margin:0; padding:0">Agile Estimating and Planning</h1>
                <h2 style="text-align:center; margin-top:0; padding-top:0">Beyond Story Points and Planning Poker</h2>
            </div>
        </div>
    </section>


    <section class="grid-container fluid white">

        <div class="row">

            <div class="large-8 large-offset-2 columns">

                <p>
                    You're in!</p>
                <p>
                    Watch this to find out about the next steps:
                </p>


                <iframe width="560" height="315" src="https://www.youtube.com/embed/zmKJFyaomDk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
        </div>

    </section>



{% endblock %}
