{% extends 'landing/_base.html.twig' %}


{% block nav %}
{% endblock %}



{% set page = page|merge({'title': 'Escape from Estimating - REPLAY'}) %}
{% set page = page|merge({'metatitle': 'Escape from Estimating - REPLAY'}) %}
{% set page = page|merge({'metadescription': 'Escape from Estimating - REPLAY'}) %}
{% set vimeolink = "https://player.vimeo.com/external/582442448.hd.mp4?s=f1a543cf5f2017e4d142a78124d0ead6ee598cd3&profile_id=175" %}
{% set salespagelink = "https://developmentthatpays.thrivecart.com/estimating-escape-plan-7545690/" %}





{% block logo %}
{% endblock %}



{% block body %}


<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>
                LIMITED TIME REPLAY
            </h1>
        </div>
    </div>



    <div class="grid-x align-center">
        <div class="cell medium-8">

             <div class="row">
                <div class="medium-4 columns">
                    <div class="flex-video">
                        <meta itemprop="width" content="1080">
                        <meta itemprop="height" content="620">
                        <iframe width="1080" height="620" src="{{ vimeolink }}" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <p style="text-align: center">
                <a style="font-size: 4em" href="{{ salespagelink }}"  class="drip-button green"  >Yes! I need this!</a>
            </p>
        </div>
    </div>


</section>



{% endblock %}
