{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'Thanks for having me!'}) %}
{% set page = page|merge({'metatitle': 'FCA'}) %}
{% set page = page|merge({'metadescription': 'FCA'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>{{ page.title }}</h1>
        </div>
    </div>



    <div class="grid-x align-center">
        <div class="cell medium-4">

          
            <p>Here are <a href="/files/talks/DTP-talk-for-FCA-2021-01-compressed.pdf">the slides</a> from today's session.</p>
            
            <p>&nbsp;</p>
            <p>Gary Straughan<br />
            <strong>Founder of Development That Pays</strong></p>

            <p>&nbsp;</p>

            <p>Website: <br />
                <a href="https://www.developmentthatpays.com">www.developmentthatpays.com</a>
            </p>
            <p>Community: <br />
                <a href="https://community.developmentthatpays.com">community.developmentthatpays.com</a>
            </p>
            <p>YouTube: <br />
                <a href="https://www.youtube.com/developmentthatpays?sub_confirmation=1">www.youtube.com/developmentthatpays</a>
            </p>
            <p>LinkedIn: <br />
                <a href="https://www.linkedin.com/in/garystraughan/">www.linkedin.com/in/garystraughan/</a>
            </p>
            

        
            <!--
            <p><strong>Agile Inside Out</strong> is closed for enrollment, but you can <a href="https://www.developmentthatpays.com/courses/agile-inside-out">get on the waiting list</a> here.</p>

        
            <h2>Other Courses</h2>

            <p>Waiting lists are also available for:</p>

            <ul>
                <li><a href="https://www.developmentthatpays.com/courses/scrumban-blueprint">The Scrumban Blueprint</a></li>
                <li><a href="https://www.developmentthatpays.com/courses/estimating">Agile Estimating and Planning - Beyond Story Points and Planning Poker</a></li>
            </ul>
            -->
        </div>
    </div>

</section>


{% endblock %}
