{% extends 'base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>"Top Jira Tips"<br />
            From Inside the Dev Teams Of<br />
            Intu, The Economist and BBC Worldwide</h1>
        </div>
    </div>


    <div class="row">

        <div class="large-4 columns" style="text-align: center;">
            <img src="http://www.garystraughan.com/images/logos/intu_digital_centered.png" />
        </div>

        <div class="large-4 columns" style="text-align: center;">
            <img src="http://www.garystraughan.com/images/logos/economist_centered.png" />
        </div>

        <div class="large-4 columns" style="text-align: center;">
            <img src="http://www.garystraughan.com/images/logos/bbc_worldwide_centered.png" />
        </div>
    </div>

    <div class="row">

        <div class="large-8 large-offset-2 columns" >
            <p>&nbsp;</p>
            <p>I've been lucky enough to work in some great development teams...</p>
            <p>... and I've picked up some great tips along the way.</p>
            <p>I've put my favourite <strong>Jira Tips</strong> into a short video.</p>


            {#<div style="border: 1px solid blue; padding: 5px; text-align: center; margin: 10px 0">#}

                {#<h4>Not yet using Jira?</h4>#}

                {#You can get a free trial of Atlassian's <strong>Jira</strong> by following the link on this page:#}

                {#<a href="https://www.atlassian.com/software/jira/">https://www.atlassian.com/software/jira/</a>#}


            {#</div>#}



            <p>Getting your hands on the video couldn't be easier:</p>
            <ul>
                <li>Enter your details below</li>
                <li>Click the button</li>
                <li>Watch the video!</li>
            </ul>
            <p>Enjoy!</p>
        </div>

    </div>

</section>

<section class="grid-container fluid" style="padding: 20px 0; background: #97D454">
    <div class="row">

        <div class="large-7 columns">
            <h1>Get Your "Top Jira Tips" Video NOW - It's 100% FREE!</h1>
        </div>

        <div class="large-5 columns">

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">

                <form action="http://brainboxweb.us7.list-manage1.com/subscribe/post" method="POST">
                    <input type="hidden" name="u" value="6bc05d0fb96e4042a25b04e5f">
                    <input type="hidden" name="id" value="3a2627023d">
                    <div id="mergeTable" class="mergeTable">

                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                            <label for="MERGE1">First Name</label>
                            <div class="field-group">
                                <input type="text" name="MERGE1" id="MERGE1" size="25" value="">
                            </div>
                        </div>

                        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                            <label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
                            <div class="field-group">
                                <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
                            </div>
                        </div>

                    </div>

                    <!-- real people should not fill this in and expect good things -->
                    <div class="hidden-from-view" style="position: absolute; left: -5000px;"><input type="text" name="b_6bc05d0fb96e4042a25b04e5f_3a2627023d" tabindex="-1" value=""></div>

                    <div class="submit_container clear">
                        <input type="submit" class="button" name="submit" value="Get Your Free Video NOW!">
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
    </div>
</section>

{% endblock %}
