{% extends 'landing/_base.html.twig' %}


{% block body %}



    <section class="grid-container fluid blue">
        <div class="row">
            <div class="large-12 columns">
                <h1 style="font-size: 3em">Ahh. This is awkward.</h1>
            </div>
        </div>
    </section>


    <section class="grid-container fluid white">

        <div class="row">

            <div class="large-8 large-offset-2 columns" >

                <p>Sorry about this: </p>
                <p>You've caught me before I'm ready.</p>

                <p>I'm working hard to put the finishing touches on the Mini-course.</p>
                <p>But I'm not quite there yet.</p>

            </div>
        </div>

    </section>


    <section class="grid-container fluid grey">

        <div class="row">

            <div class="large-8 large-offset-2 columns" >


                <p>If you'd like me to send you a reminder when it's ready...</p>

                <p>... click the button to enter your email address:</p>



                <a href="//www.getdrip.com/forms/927689875/submissions/new" data-drip-show-form="927689875" class="btn">REMIND ME WHEN IT'S  READY</a>


            </div>
        </div>

    </section>


{% endblock %}
