{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'My Crazy Scrumban Idea'}) %}

{% set page = page|merge({'metatitle': 'My crazy Scrumban idea'}) %}
{% set page = page|merge({'metadescription': 'The Scrumban videos went down rather well. I have an idea to take things further...'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >

           <p>[[The video]]</p>
                        
        </div>
    </div>

</section>




<section class="grid-container fluid white">

    <div class="row">
        <div class="large-8 large-offset-2 columns" >

            <p>In short:</p>

            <ul>
                <li>I put out a video or three on Scrumban</li>
                <li>Nobody died. The sky did not fall.</li>
                <li>"Hmm," I thought, "maybe I can do more here. A course, perhaps?"</li>
            </ul>

        <div class="large-12 columns" style="text-align:center;">

            <a href="/-/scrumban-idea-thanks" style="background: #66a70e;border-color: #32C88C;border-radius: 20px;color: #FFFFFF;display: inline-block;vertical-align: middle;padding: 16px 32px;min-width: 192px; font-size: 1.5rem;font-family: Helvetica, Arial, sans-serif;text-align: center;outline: 0;line-height: 1;cursor: pointer;-webkit-transition: background 0.3s, color 0.3s, border 0.3s;transition: background 0.3s, color 0.3s, border 0.3s; ">Yes... I'm interested!</a>
            <br />
            <br />
            <br />
            <br />
        </div>
                        
        </div>
    </div>

</section>






{% endblock %}
