{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'My Crazy Scrumban Idea'}) %}

{% set page = page|merge({'metatitle': 'My crazy Scrumban idea'}) %}
{% set page = page|merge({'metadescription': 'The Scrumban videos went down rather well. I have an idea to take things further...'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-8 large-offset-2 columns" style="text-align:center">


            


            {% include 'includes/youtube.html' with {'id':'kxaFEweDlBE'}  %}
                        
        </div>
    </div>

</section>


<section class="grid-container fluid white">

    <div class="row">

        <div class="large-12 columns" style="text-align:center">

            <form action="https://www.getdrip.com/forms/852173204/submissions" method="post" data-drip-embedded-form="852173204">
                <input type="hidden" id="drip-email" name="fields[email]" value="{{ app.request.query.get('e') }}" />
                <input type="hidden" name="tags[]" value="Scrumban_pioneer" />
                <input type="submit" value="Yes, I'm a pioneer!"  class="drip-button green" />
            </form>

        </div>
        <p>&nbsp;</p>

        <div class="large-12 columns" style="text-align:center">

            <form  action="https://www.getdrip.com/forms/255883830/submissions" method="post" data-drip-embedded-form="255883830">
                <input type="hidden" id="drip-email" name="fields[email]" value="{{ app.request.query.get('e') }}" />
                <input type="hidden" name="tags[]" value="Scrumban_guide" />  
                <input type="submit" value="I've made the move to Scrumban!" class="drip-button blue" />
            </form>
                        
        </div>
    </div>

</section>



<section class="grid-container fluid green">

     <div class="row">
        <div class="large-12 columns">
            <h1>Grab your Scrumban Resources</h1>
        </div>
    </div>

    <div class="row">

        <div class="large-12 columns" style="text-align:center;">
            <a href="/scrumban">My Top Scrumban Resources</a>
        </div>
    </div>

</section>





{% endblock %}

