{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'A Scrumban Course?!?'}) %}

{% set page = page|merge({'metatitle': 'My crazy Scrumban idea'}) %}
{% set page = page|merge({'metadescription': 'The Scrumban videos went down rather well. I have an idea to take things further...'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >

          
           <p>Thanks! I appreciate you taking the time to help me out.</p>
             <div style="text-align:center">
                <img src="\images\awesome.gif" />
            </div>


            <p><br />If you have an idea for a course <em>other</em> than <strong>A-course-on-Scrumban</strong> I'd love to hear it...</p>

            <ul>
                <li>... <a href="mailto:gary@garystraughan.com">via email</a></li>
                <li>... or <a href="https://www.linkedin.com/in/garystraughan/">via LinkedIn</li>
            </ul>

          
           <p><br />Gary<br />
           Development That Pays
           <br /><br /><br /><br />
           </p> 
                        
        </div>
    </div>

</section>









{% endblock %}
