{% extends 'landing/_base.html.twig' %}


{% block body %}



    <section class="grid-container fluid blue">
        <div class="row">
            <div class="large-12 columns">
                <h1 style="font-size: 3em">You're in!</h1>
            </div>
        </div>
    </section>


    <section class="grid-container fluid white">

        <div class="row">

            <div class="large-8 large-offset-2 columns" >

                <p>Lesson 1 of the <strong>Scrum vs Kanban Mini-course</strong> is winging its way to you by email.</p>

                <p>Check you mailbox for an email with the subject "<strong>Scrum vs Kanban - Lesson 1: Agile Foundations</strong>".</p>

            </div>
        </div>

    </section>


    {#<section class="grid-container fluid grey">#}

        {#<div class="row">#}

            {#<div class="large-8 large-offset-2 columns" >#}


                {#<p>If you'd like me to send you a reminder when it's ready...</p>#}

                {#<p>... click the button to enter your email address:</p>#}



                {#<a href="//www.getdrip.com/forms/927689875/submissions/new" data-drip-show-form="927689875" class="btn">REMIND ME WHEN IT'S  READY</a>#}


            {#</div>#}
        {#</div>#}

    {#</section>#}


{% endblock %}
