{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'My Crazy Scrumban idea'}) %}

{% set page = page|merge({'metatitle': 'My crazy Scrumban idea'}) %}
{% set page = page|merge({'metadescription': 'The Scrumban videos went down rather well. I have an idea to take things further...'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid grey">

    <div class="row">
        <div class="large-12 columns">
            <h1>Thank you!</h1>
        </div>
    </div>


    <div class="row">
        <div class="large-8 large-offset-2 columns" >

            <p>Delighted to hear that you're interested in being a <strong>"Scrumban Pioneer"<strong>!</p>

            <p>I'll get back to you with more info soon.</p>

            <p><br />
                Gary<br />
                Development That Pays
            </p>


            <p><strong>PS</strong> - In the meantime, help yourself to my <a href="/scrumban">top Scrumban resources.</a>
        </div>
    </div>

</section>








{% endblock %}
