{% extends 'base.html.twig' %}


{% block nav %}
<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">Development That Pays</a></li>
    </ul>
  </div>
</div>
{% endblock %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}




{% block body %}

            
<section class="grid-container fluid">
    <div class="grid-x align-center">
        <div class="cell medium-6">
            <h1>[Webinar Replay] "Scrumban for Scrum Teams"</h1>
        </div>
    </div>
</section>


<section class="grid-container fluid grey">

    <div class="grid-x grid-margin-x  align-center ">

        <div class="cell medium-6">

            <iframe src="https://player.vimeo.com/video/425405025" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

            <p>&nbsp;</p>
            <p>
                <a href="https://community.developmentthatpays.com/plans/47161?bundle_token=3c000d700cf200362d4e274266861ba0&utm_source=manual" class="btn">Ready to Enroll?</a>
            </p>

        </div>

    </div>

</section>



{% endblock %}

