{% extends 'landing/_base.html.twig' %}


{% block body %}



<section class="grid-container fluid blue">
    <div class="row">
        <div class="large-6 columns large-offset-2">
            <p >FREE VIDEO MINI-COURSE</p>
            <h1 style="font-size: 3em; text-align: left">Scrum vs Kanban</h1>
            <p style="font-size: 2em; line-height: 1.2em">
                Take your Agile understanding to the next level with this FREE five-video Mini-Course.
            </p>

        </div>

        <div class="large-4 columns" >
            <p style="text-align:center">
                <img src="/images/fork.png" />
            </p>
        </div>

    </div>
</section>

<section class="grid-container fluid white">

    <div class="row">

        <div class="large-8 large-offset-2 columns" >


            <p style="text-align:center">
                <a href="/-/scrumkanban-thanks" class="btn">GET YOUR FREE VIDEO MINI-COURSE</a>
            </p>
        </div>

    </div>

</section>


<section class="grid-container fluid grey">

    <div class="row">

        <div class="large-8 large-offset-2 columns" >

            <p>The videos are <u>short</u> - less than 10 minutes each - but they cover a lot of ground:</p>
            <ul>
                <li>Video 1 - <strong>What is Agile?</strong> We'll start with a 20,000 foot view: Agile in the context of Software Development.</li>
                <li>Video 2 - <strong>What is Scrum?</strong> Scrum is the most popular Agile framework. Does it deserve its reputation?</li>
                <li>Video 3 - <strong>What is Kanban?</strong> Kanban has stood the test of time. It's powerful - when done right.</li>
                <li>Video 4 - <strong>Scrum vs Kanban?</strong> Scrum and Kanban go head-to-head... to give you a deeper understanding of both.</li>
                <li>Video 5 - <strong>Scrum or Kanban - Which is Right For Your Team?</strong> Bringing it all together.</li>
            </ul>
    </div>

</section>



<section class="grid-container fluid blue">

    <div class="row">

        <div class="large-8 large-offset-2 columns" >

            <p>Get <u>INSTANT</u> access to your FREE Video Mini-Course</p>

            <p style="text-align:center">
                <a href="/-/scrumkanban-thanks" class="btn">WATCH YOUR VIDEOS NOW >> </a>
            </p>
        </div>


    </div>

</section>


{% endblock %}
