{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'A Scrumban Course?!?'}) %}

{% set page = page|merge({'metatitle': 'My crazy Scrumban idea'}) %}
{% set page = page|merge({'metadescription': 'The Scrumban videos went down rather well. I have an idea to take things further...'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}

<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-offset-2 columns" >

           <p>Thank you!</p>

            <div style="text-align:center">
                <img src="\images\awesome.gif" />
            </div>

           <p><br />That's two people - <em>you and me!</em> - that have expressed an interest in a Scrumban course.</p>

           <p>If enough other people do the same, I'll be back with more details soon :)</p>

           <p><br />Gary<br />
           Development That Pays
           <br /><br /><br /><br />
           </p> 
                        
        </div>
    </div>

</section>




{% endblock %}
