{% extends '../base.html.twig' %}


{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}


{% block body %}


<section class="grid-container fluid white">

    <div class="row">
        <div class="large-12 columns">
            <h1>"Top 12 Agile Tools"</h1>
        </div>
    </div>


    <div class="row">

        <div class="large-8 large-offset-2 columns" >
            <p>&nbsp;</p>
              <img src="/images/free-agile-tools.png" />
            <p></p>
            <ul>
                <li>Twelve of the best tools for Agile software development</li>
                <li>Includes options for Scrum and Kanban workflows</li>
                <li>No. 12 on the list will suprise you!</li>
            </ul>
        </div>

    </div>

</section>

<section class="grid-container fluid" style="padding: 20px 0; background: #97D454">
    <div class="row">

        <div class="large-7 columns">
            <h1>Get Your "Top 12 Agile Tools" PDF Now! - It's 100% FREE!</h1>
        </div>

        <div class="large-5 columns">

            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form action="//brainboxweb.us7.list-manage.com/subscribe/post?u=6bc05d0fb96e4042a25b04e5f&amp;id=efb0baa326" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bc05d0fb96e4042a25b04e5f_efb0baa326" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Yes, send me the free PDF!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</section>

{% endblock %}
