{% extends 'base.html.twig' %}


{% set page = page|merge({'title': 'Escape from Estimating - confirmed'}) %}
{% set page = page|merge({'metatitle': 'Escape from Estimating - confirmed'}) %}
{% set page = page|merge({'metadescription': 'Escape from Estimating - confirmed'}) %}



{% block logo %}
    <div class="grid-container fluid logo" >
        <div class="large-12 columns">
            <img src="/images/logo.png" alt="Development That Pays" />
        </div>
    </div>
{% endblock %}



{% block body %}


<section class="grid-container fluid grey">

    <div class="grid-x align-center">
        <div class="cell medium-8">
            <h1>You're on the list!</h1>
        </div>
    </div>



    <div class="grid-x align-center">
        <div class="cell medium-6">

            <p>You're in: you've reserved your stop for the webinar!</strong>.</p>
            

            <p>
                <br />
                Gary<br />
                <strong>Founder of Development That Pays</strong>
            </p>

        </div>
    </div>

</section>








{% endblock %}
