/*

#12488d - blue
#ABD0FF - blue tint

#5d9e15 - green
#97D454 - green tint
*/

.blue {
    background-color: #12488d;
}
.green {
    background-color: #5d9e15
}


body {
    font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* .top-bar  {
    background: url('/images/sprite.png') no-repeat left 2px;
    padding-left: 35px;
} */

h1 {
    text-align: center;
    line-height: 1.2em;
}

h2 {
    margin-top: 1em;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    color: rgb(34,34,34);
}

p,
li {
    font-size: 1.2em;
    color: rgb(34,34,34);
}


/*Need the white and grey bits*/
acticle.grey, section.grey,
acticle.grey, section.white,
acticle.grey, section.blue,
acticle.grey, section.green
{
    padding: 50px 0;
}

acticle.grey, section.grey {
    background: #f2f2f2;
}
acticle.white, section.white {
    background: #fff;
}
acticle.blue, section.blue {
    background: #12488d;
}
acticle.green, section.green {
    background: #5d9e15;
}
.blue h1,
.blue h2,
.blue h3,
.blue h4,
.blue p,
.blue li,
.green h1,
.green h2,
.green h3,
.green h4,
.green p,
.green li
{color:white}

.green a,
.green a:link,
.green a:visited,
.green a:hover,
.green a:active     {
    color:white;
    text-decoration:underline
}









.contact section.grey {
    min-height: 400px;
}

section h1 {
    margin: 0 0 40px 0;
    /*font-weight: 100;*/
    text-align: center;
}

.logo {
    text-align: center;
    background: #fff;
    /* height: 185px; */
}

.logo img {
    margin: 20px auto 40px auto;
}


.blog .posts {
    margin-bottom: 40px;
}

.posts h3 {
    font-size: 1.2em;
    font-weight: bold;
}
.posts p {
    font-size: 1em;
}


.footer {
    padding: 50px 0 150px 0;
    text-align:center;
    color: #fff;
    background: #12488d
}
.footer p {
    color: #fff;
}


.subscribe-form label{
    display: block;
    text-align: left;
    font-weight: bold;
}

.btn {
    background: #F9A82F;
    background-image: -webkit-linear-gradient(top, #F9A82F, #F9A82F);
    background-image: -moz-linear-gradient(top, #F9A82F, #F9A82F);
    background-image: -ms-linear-gradient(top, #F9A82F, #F9A82F);
    background-image: -o-linear-gradient(top, #F9A82F, #F9A82F);
    background-image: linear-gradient(to bottom, #F9A82F, #F9A82F);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 27px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    display:block;
    margin: auto;
    text-align: center;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


.drip-button {
    border-radius: 20px;    
    color: #FFFFFF;



    display: inline-block;
    vertical-align: middle;
    padding: 16px 32px;
    min-width: 192px;
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    outline: 0;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: background 0.3s, color 0.3s, border 0.3s;
    transition: background 0.3s, color 0.3s, border 0.3s;
}


.resource p{
    margin-top: 1em;
    margin-bottom: 0;    
}

.resource .author{
    margin-top: 0;
    font-size: 0.9em;
}



/*  */

.bonus-box{
    background: white;
    color: black
}

.bonus-box h1,
.bonus-box h2,
.bonus-box h3,
.bonus-box h4,
.bonus-box p,
.bonus-box li
{color:black}

.bonus-header{
    color:white; 
    font-size: 2em;
    font-weight:bold; 
    text-align: center;
    margin-bottom: 1em;
    padding: 1em 0.5em;
}

.bonus-box h3 {
    font-weight:bold;
    text-align: center;
    line-height: 1em;
    margin-top: 1em;
}

.stack-list{
    font-size: 1.6em;
}